// footer
footer.footer
    
  .footer__top 
    .wrapper 

      .row 

        .footer__col 
          
          a(href="#").footer__logo 
            img(src="img/logo.svg", alt="")
          .footer__text Музыкальный портал в России

        .footer__col 
          .footer__title Помощь
          ul.footer__list
            li 
              a(href="#") Форум
            li
              a(href="#") Новости
            li
              a(href="#") Статьи
            li
              a(href="#") О портале
            li
              a(href="#") Часто задаваемые вопросы
        
        .footer__col 
          .footer__title Начать работу
          ul.footer__list
            li 
              a(href="#") Зарегистрироваться
            li 
              a(href="#") Поиск по дискографии
            li 
              a(href="#") Добавить релиз
            li 
              a(href="#") Поиск по маркету
            li
              a(href="#") Добавить товар

        .footer__col 
          .footer__title Подписаться на рассылку
          form(action="#").footer__search 
            .footer__search-input 
              input(type="text")
            button(type="submit").footer__search-btn 
              img(src="img/icons/search-button-sm.svg", alt="")
          .footer__social 
            .footer__social-row 
              a(href="#").footer__social-icon 
                img(src="img/icons/social-telegram-icon.svg", alt="")

  .footer__bottom 
    .wrapper 
      | Музыкальный портал в России. &#169; ООО «Портал» 2021–2023.  Правила. Политика о данных пользователей. Оплачивая услуги на портале, вы принимаете оферту.
//	/footer