// header
header.header 

  .header__top
    .wrapper

      a(href="#").header__logo 
        img(src="img/logo.svg", alt="")
      
      .header__search 
        form(action="#").header__search-block 
          .header__search-input 
            input(type="text").js-drop-input(data-drop="searchMenu")
          .header__search-location.js-drop-btn-slide(data-drop="location")
            | По всей России
            img(src="img/icons/arrow.svg", alt="") 
          button(type="submit").header__search-btn.btn.btn--yellow 
            img(src="img/icons/search.svg", alt="")
            span Искать

        form(action="#").header__location-drop#location
          .header__location-input 
            input(type="text" placeholder="Введите город, регион, Россия")
            .header__location-input-cross
          ul.header__location-list 
            li Екатеринбург
            li Россия
            li Москва
            li Екатеринбург, Свердловская область
            li Свердловская область
          button(type="submit").header__location-btn Выбрать

        .header__search-drop#searchMenu
          .header__search__tabs.js-tabs
            ul.header__search-triggers 
              li 
                a(href="#tab_1").header__search-trigger.js-tabs-trigger.active В продаже
              li 
                a(href="#tab_2").header__search-trigger.js-tabs-trigger Релизы
              li 
                a(href="#tab_3").header__search-trigger.js-tabs-trigger Артисты
              li 
                a(href="#tab_4").header__search-trigger.js-tabs-trigger Лейблы
            div.header__search-contents
              .js-tabs-content.header__search-content.open(data-href="#tab_1")
                ul.header__search-list 
                  li 
                    a(href="#") Modern talking
                  li
                    a(href="#") Modern talking пластинка
                  li
                    a(href="#") Modern talking CD
                  li
                    a(href="#") Modern talking ready for romance
                  li
                    a(href="#") Modern talking back for good
                  li
                    a(href="#") Modern talking alone
                  li
                    a(href="#") Modern
                  li
                    a(href="#") Modern romance
              .js-tabs-content.header__search-content(data-href="#tab_2")
                .header__search-items 
                  a(href="#").header__search-item 
                    .header__search-item-img 
                      img(src="img/albums/img6.jpg", alt="" srcset="img/albums/img6@2x.jpg 2x")
                    .header__search-item-content 
                      .header__search-item-name Cirkus Modern LP, Album
                      .header__search-item-sub Cirkus Modern
                  a(href="#").header__search-item 
                    .header__search-item-img 
                      img(src="img/albums/img7.jpg", alt="" srcset="img/albums/img7@2x.jpg 2x")
                    .header__search-item-content 
                      .header__search-item-name Cirkus Modern LP, Album
                      .header__search-item-sub Cirkus Modern
                  a(href="#").header__search-item 
                    .header__search-item-img 
                      img(src="img/albums/img8.jpg", alt="" srcset="img/albums/img8@2x.jpg 2x")
                    .header__search-item-content 
                      .header__search-item-name Cirkus Modern LP, Album
                      .header__search-item-sub Cirkus Modern
                  a(href="#").header__search-item 
                    .header__search-item-img 
                      img(src="img/albums/img9.jpg", alt="" srcset="img/albums/img9@2x.jpg 2x")
                    .header__search-item-content 
                      .header__search-item-name Cirkus Modern LP, Album
                      .header__search-item-sub Cirkus Modern
                  a(href="#").header__search-item 
                    .header__search-item-img 
                      img(src="img/albums/img10.jpg", alt="" srcset="img/albums/img10@2x.jpg 2x")
                    .header__search-item-content 
                      .header__search-item-name Cirkus Modern LP, Album
                      .header__search-item-sub Cirkus Modern
                .header__search-btn-row 
                  .header__search-tabs-btn Все релизы
              .js-tabs-content.header__search-content(data-href="#tab_3")
                ul.header__search-list 
                  li 
                    a(href="#") Modern talking
                  li
                    a(href="#") Modern talking пластинка
                  li
                    a(href="#") Modern talking CD
                  li
                    a(href="#") Modern talking ready for romance
                  li
                    a(href="#") Modern talking back for good
                  li
                    a(href="#") Modern talking alone
                  li
                    a(href="#") Modern
                  li
                    a(href="#") Modern romance
              .js-tabs-content.header__search-content(data-href="#tab_4")
                ul.header__search-list 
                  li 
                    a(href="#") Modern talking
                  li
                    a(href="#") Modern talking пластинка
                  li
                    a(href="#") Modern talking CD
                  li
                    a(href="#") Modern talking ready for romance
                  li
                    a(href="#") Modern talking back for good
                  li
                    a(href="#") Modern talking alone
                  li
                    a(href="#") Modern
                  li
                    a(href="#") Modern romance

      .header__hamb.hamburger.hamburger--squeeze.js-menu-hamb(data-menu="mobileMenu")
        .hamburger-box
          .hamburger-inner
      
      .header__login.header__login--enter 
        .header__login-flex 
          .header__login-icon 
            img(src="img/user-avatar.jpg", alt="", srcset="img/user-avatar@2x.jpg 2x")
          .header__login-name Евгений
          .header__login-hamb.hamburger.hamburger--squeeze.js-drop-btn-slide(data-drop="userMenu")
            .hamburger-box
              .hamburger-inner
        .header__login-drop#userMenu 
          .header__login-statistic  
            img(src="img/icons/heart.png", alt="", srcset="img/icons/heart@2x.png 2x")
            | 92.8%
            span 208 отзывов
          ul.header__login-list 
            li 
              a(href="#") Мой кошелёк
            li 
              a(href="#") Мои объявления
            li 
              a(href="#") Добавить объявление
            li 
              a(href="#") Мои заказы
            li 
              a(href="#") Мои отзывы
            li 
              a(href="#") Избранное
            li 
              a(href="#") Хочу купить
            li 
              a(href="#") Моя коллекция
            li 
              a(href="#") Настройки
          a(href="#").header__login-exit Выйти

  .header__bottom
    .wrapper 

      .menu#mobileMenu
        nav.menu__nav 
          ul.menu__list 
            li.menu__item
              a(href="#").menu__link Новости
            li.menu__item
              a(href="#").menu__link.menu__link--active В продаже
                .menu__link-sticker 120 000 +
            li.menu__item
              a(href="#").menu__link.menu__link--childin Дискография 
              ul.menu__submenu 
                li.menu__subitem 
                  a(href="#").menu__sublink Дискография1
                li.menu__subitem 
                  a(href="#").menu__sublink Дискография2
                li.menu__subitem 
                  a(href="#").menu__sublink Дискография3
            li.menu__item
              a(href="#").menu__link Магазины
            li.menu__item
              a(href="#").menu__link Статьи
            li.menu__item
              a(href="#").menu__link Форум
            li.menu__item
              a(href="#").menu__link О портале

        .menu__login 
          .header__login-flex 
            .header__login-icon 
              img(src="img/user-avatar.jpg", alt="", srcset="img/user-avatar@2x.jpg 2x")
            .header__login-name Евгений
            .header__login-hamb.hamburger.hamburger--squeeze.js-drop-btn-slide(data-drop="userMenuMobile")
              .hamburger-box
                .hamburger-inner
          .header__login-drop#userMenuMobile 
            .header__login-statistic  
              img(src="img/icons/heart.png", alt="", srcset="img/icons/heart@2x.png 2x")
              | 92.8%
              span 208 отзывов
            ul.header__login-list 
              li 
                a(href="#") Мой кошелёк
              li 
                a(href="#") Мои объявления
              li 
                a(href="#") Добавить объявление
              li 
                a(href="#") Мои заказы
              li 
                a(href="#") Мои отзывы
              li 
                a(href="#") Избранное
              li 
                a(href="#") Хочу купить
              li 
                a(href="#") Моя коллекция
              li 
                a(href="#") Настройки

            a(href="#").header__login-exit Выйти

            .header__login-close.js-drop-close(data-drop="userMenuMobile")

        .menu__close.js-menu-close(data-drop="mobileMenu")
//	/header