// header
header.header 

  .header__top
    .wrapper

      a(href="#").header__logo 
        img(src="img/logo.svg", alt="")
      
      .header__search 
        form(action="#").header__search-block 
          .header__search-input 
            input(type="text")
          .header__search-location 
            | По всей России
            img(src="img/icons/arrow.svg", alt="") 
          button(type="submit").header__search-btn.btn.btn--yellow 
            img(src="img/icons/search.png", alt="", srcset="img/icons/search@2x.png 2x")
            span Искать

      .header__hamb.hamburger.hamburger--squeeze.js-menu-hamb(data-menu="mobileMenu")
        .hamburger-box
          .hamburger-inner
      
      .header__login 
        a(href="#").header__enter Вход
        a(href="#").header__reg.btn.btn--yellow Регистрация

  .header__bottom
    .wrapper 

      .menu#mobileMenu
        nav.menu__nav 
          ul.menu__list 
            li.menu__item
              a(href="#").menu__link Новости
            li.menu__item
              a(href="#").menu__link.menu__link--active В продаже
                .menu__link-sticker 120 000 +
            li.menu__item
              a(href="#").menu__link.menu__link--childin Дискография 
            li.menu__item
              a(href="#").menu__link Магазины
            li.menu__item
              a(href="#").menu__link Статьи
            li.menu__item
              a(href="#").menu__link Форум
            li.menu__item
              a(href="#").menu__link О портале
//	/header