// header
header.header 

  .header__top
    .wrapper

      a(href="#").header__logo 
        img(src="img/logo.svg", alt="")
      
      .header__search 
        form(action="#").header__search-block 
          .header__search-input 
            input(type="text")
          .header__search-location.js-drop-btn-slide(data-drop="location")
            | По всей России
            img(src="img/icons/arrow.svg", alt="") 
          button(type="submit").header__search-btn.btn.btn--yellow 
            img(src="img/icons/search.png", alt="", srcset="img/icons/search@2x.png 2x")
            span Искать

        form(action="#").header__location-drop#location
          .header__location-input 
            input(type="text" placeholder="Введите город, регион, Россия")
            .header__location-input-cross
          ul.header__location-list 
            li Екатеринбург
            li Россия
            li Москва
            li Екатеринбург, Свердловская область
            li Свердловская область
          button(type="submit").header__location-btn Выбрать

      .header__hamb.hamburger.hamburger--squeeze.js-menu-hamb(data-menu="mobileMenu")
        .hamburger-box
          .hamburger-inner
      
      .header__login 
        a(href="#").header__enter Вход
        a(href="#").header__reg.btn.btn--yellow Регистрация

  .header__bottom
    .wrapper 

      .menu#mobileMenu
        nav.menu__nav 
          ul.menu__list 
            li.menu__item
              a(href="#").menu__link Новости
            li.menu__item
              a(href="#").menu__link.menu__link--active В продаже
                .menu__link-sticker 120 000 +
            li.menu__item
              a(href="#").menu__link.menu__link--childin Дискография 
              ul.menu__submenu 
                li.menu__subitem 
                  a(href="#").menu__sublink Дискография1
                li.menu__subitem 
                  a(href="#").menu__sublink Дискография2
                li.menu__subitem 
                  a(href="#").menu__sublink Дискография3
            li.menu__item
              a(href="#").menu__link Магазины
            li.menu__item
              a(href="#").menu__link Статьи
            li.menu__item
              a(href="#").menu__link Форум
            li.menu__item
              a(href="#").menu__link О портале
        .menu__close.js-menu-close(data-drop="mobileMenu")
//	/header