extends core/base.pug

block title 
  title Каталог

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .wrapper 
          .breadcrumbs__list 
            ul 
              li 
                a(href="#") В продаже
              li 
                a(href="#") Вся Россия
              li 
                span Modern Talking
      // /breadcrumbs

      // catalog
      .catalog
        .wrapper 
          .catalog__head 
            .title Объявления по запросу «Modern talking» в России
              .title__sticker 3 600 результатов
            form(action="#").catalog__sort 
              .catalog__sort-icon.active
                input#sort-list(type="radio", name="sort" checked)
                label(for="sort-list") 
                  svg(width="20" height="20" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(x="1" y="1" width="16" height="16" rx="5")
                    rect(x="20" y="1" width="39" height="16" rx="5")
                    rect(x="20" y="22" width="39" height="16" rx="5")
                    rect(x="20" y="43" width="39" height="16" rx="5")
                    rect(x="1" y="22" width="16" height="16" rx="5")
                    rect(x="1" y="43" width="16" height="16" rx="5")
              .catalog__sort-icon 
                input#sort-block(type="radio", name="sort")
                label(for="sort-block") 
                  svg(width="20" height="20" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(x="1" y="1" width="27" height="27" rx="5")
                    rect(x="1" y="32" width="27" height="27" rx="5")
                    rect(x="32" y="32" width="27" height="27" rx="5")
                    rect(x="32" y="1" width="27" height="27" rx="5")
              .catalog__sort-select 
                select(name="#") 
                  option(value="#" disabled selected) Сортировать
                  option(value="#") По дате выхода
                  option(value="#") Дешевле
                  option(value="#") Дороже
          .catalog__container 

            .catalog__sidebar 

              // filter
              form(action="#").filter.js-filters
              
                .filter__buttons 
                  .filter__buttons-row 
                    .filter__btn 
                      input#category_0(type="radio", name="category" checked)
                      label(for="category_0") Хит продаж
                    .filter__btn 
                      input#category_1(type="radio", name="category")
                      label(for="category_1") Спец. цена
                    .filter__btn 
                      input#category_2(type="radio", name="category")
                      label(for="category_2") Акция

                .filter__block 

                  .filter__title Формат

                  .filter__list.js-more-list
                    ul 
                      li 
                        input#format_0(type="checkbox", name="format")
                        label(for="format_0") 
                          span.filter__name Пластинки
                          span.filter__num 63 000 +
                      li 
                        input#format_1(type="checkbox", name="format")
                        label(for="format_1") 
                          span.filter__name CD
                          span.filter__num 12 000 +
                      li 
                        input#format_2(type="checkbox", name="format")
                        label(for="format_2") 
                          span.filter__name Кассета
                          span.filter__num 16 000 +
                      li 
                        input#format_3(type="checkbox", name="format")
                        label(for="format_3") 
                          span.filter__name DVD
                          span.filter__num 6 000 +
                      li 
                        input#format_4(type="checkbox", name="format")
                        label(for="format_4") 
                          span.filter__name Бокс-сет
                          span.filter__num 1 000 +
                      li 
                        input#format_5(type="checkbox", name="format")
                        label(for="format_5") 
                          span.filter__name Пластинки
                          span.filter__num 63 000 +
                      li 
                        input#format_6(type="checkbox", name="format")
                        label(for="format_6") 
                          span.filter__name CD
                          span.filter__num 12 000 +
                      li 
                        input#format_7(type="checkbox", name="format")
                        label(for="format_7") 
                          span.filter__name Кассета
                          span.filter__num 16 000 +
                      li 
                        input#format_8(type="checkbox", name="format")
                        label(for="format_8") 
                          span.filter__name DVD
                          span.filter__num 6 000 +
                      li 
                        input#format_9(type="checkbox", name="format")
                        label(for="format_9") 
                          span.filter__name Бокс-сет
                          span.filter__num 1 000 +

                  .filter__more.js-more-btn Показать все

                .filter__block 

                  .filter__title Жанры

                  .filter__list.js-more-list
                    ul 
                      li 
                        input#genre_0(type="checkbox", name="genre")
                        label(for="genre_0") 
                          span.filter__name Rock
                          span.filter__num 63 000 +
                      li 
                        input#genre_1(type="checkbox", name="genre")
                        label(for="genre_1") 
                          span.filter__name Electronic
                          span.filter__num 12 000 +
                      li 
                        input#genre_2(type="checkbox", name="genre")
                        label(for="genre_2") 
                          span.filter__name Pop
                          span.filter__num 16 000 +
                      li 
                        input#genre_3(type="checkbox", name="genre")
                        label(for="genre_3") 
                          span.filter__name Funk/Soul
                          span.filter__num 6 000 +
                      li 
                        input#genre_4(type="checkbox", name="genre")
                        label(for="genre_4") 
                          span.filter__name Jazz
                          span.filter__num 1 000 +
                      li 
                        input#genre_5(type="checkbox", name="genre")
                        label(for="genre_5") 
                          span.filter__name Rock
                          span.filter__num 63 000 +
                      li 
                        input#genre_6(type="checkbox", name="genre")
                        label(for="genre_6") 
                          span.filter__name Electronic
                          span.filter__num 12 000 +
                      li 
                        input#genre_7(type="checkbox", name="genre")
                        label(for="genre_7") 
                          span.filter__name Pop
                          span.filter__num 16 000 +
                      li 
                        input#genre_8(type="checkbox", name="genre")
                        label(for="genre_8") 
                          span.filter__name Funk/Soul
                          span.filter__num 6 000 +
                      li 
                        input#genre_9(type="checkbox", name="genre")
                        label(for="genre_9") 
                          span.filter__name Jazz
                          span.filter__num 1 000 +
                      

                  .filter__more.js-more-btn Показать все

                .filter__block 

                  .filter__title Стили

                  .filter__list.js-more-list
                    ul 
                      li 
                        input#style_0(type="checkbox", name="style")
                        label(for="style_0") 
                          span.filter__name Pop-rock
                          span.filter__num 63 000 +
                      li 
                        input#style_1(type="checkbox", name="style")
                        label(for="style_1") 
                          span.filter__name House
                          span.filter__num 12 000 +
                      li 
                        input#style_2(type="checkbox", name="style")
                        label(for="style_2") 
                          span.filter__name Disco
                          span.filter__num 16 000 +
                      li 
                        input#style_3(type="checkbox", name="style")
                        label(for="style_3") 
                          span.filter__name Synth-Pop
                          span.filter__num 6 000 +
                      li 
                        input#style_4(type="checkbox", name="style")
                        label(for="style_4") 
                          span.filter__name Soul
                          span.filter__num 1 000 +
                      li 
                        input#style_5(type="checkbox", name="style")
                        label(for="style_5") 
                          span.filter__name Pop-rock
                          span.filter__num 63 000 +
                      li 
                        input#style_6(type="checkbox", name="style")
                        label(for="style_6") 
                          span.filter__name House
                          span.filter__num 12 000 +
                      li 
                        input#style_7(type="checkbox", name="style")
                        label(for="style_7") 
                          span.filter__name Disco
                          span.filter__num 16 000 +
                      li 
                        input#style_8(type="checkbox", name="style")
                        label(for="style_8") 
                          span.filter__name Synth-Pop
                          span.filter__num 6 000 +
                      li 
                        input#style_9(type="checkbox", name="style")
                        label(for="style_9") 
                          span.filter__name Soul
                          span.filter__num 1 000 +

                  .filter__more.js-more-btn Показать все

                .filter__block 

                  .filter__title.filter__title--mb10 Стоимость

                  .filter__inputs 
                    .filter__input-half
                      .filter__input-text Цена от
                      .filter__input
                        input(type="text", name="priceMin")
                    .filter__input-half
                      .filter__input-text до
                      .filter__input
                        input(type="text", name="priceMax")

                .filter__block 

                  .filter__title.filter__title--mb10 Лейбл

                  .filter__select 
                    select(name="lable") 
                      option(value="#" disabled selected) Выбрать лейбл
                      option(value="#") Лейбл 1
                      option(value="#") Лейбл 2
                      option(value="#") Лейбл 3
                      option(value="#") Лейбл 4

                .filter__btns 
                  button(type="submit").filter__button.filter__button--blue Показать
                  .filter__button.filter__button--white.js-filters__clear Сброс

              // /filter

            .catalog__main 

              .row

                .catalog__col-list

                  // card-list
                  .card-list
                    a(href="#").card-list__img 
                      img(src="img/albums/img1.jpg", alt="" srcset="img/albums/img1@2x.jpg x2")
                    .card-list__content 
                      .card-list__content-left 
                        .card-list__title 
                          a(href="#") Various - The Classic Chillout Album 2 (2xCD, Comp)
                        .card-list__price-row 
                          .card-list__price 
                            img(src="img/icons/lightning.png", alt="" srcset="lightning@2x.png x2")
                            | 199 &#8381;
                          .card-list__price-delivery 
                            img(src="img/icons/car.png", alt="", srcset="img/icons/car@2x.png x2")
                            | 350 &#8381; 
                            span (из Екатеринбурга)
                        ul.card-list__list 
                          li Лейбл: 
                            span Sony Music TV, Columbia
                          li Каталожный номер: 
                            span STVCD129
                          li Состояние медиа: 
                            span Very Good Plus (VG+)
                          li Состояние конверта: 
                            span Good Plus (G+)
                        .card-list__text Виниловая пластинка (LP) - MODERN TALKING -1987 ''The Modern Talking Story''  альбомный, Club Edition, Compilation Лейбл: Hansa (14
                      .card-list__content-right 
                        .card-list__statistic 
                          .card-list__statistic-item 
                            img(src="img/icons/bell.png", alt="" srcset="img/icons/bell@2x.png x2")
                            | 141 Имеют
                          .card-list__statistic-item 
                            img(src="img/icons/bell.png", alt="" srcset="img/icons/bell@2x.png x2")
                            | 21 Хотят
                        .card-list__block 
                          .card-list__subtitle 
                            a(href="#") QHP Records
                          .card-list__points 
                            .card-list__points-percent 
                              img(src="img/icons/heart.png", alt="", srcset="img/icons/heart@2x.png x2")
                              | 99.8%
                            .card-list__points-count 788 оценок
                          .card-list__text Владивосток, Россия
                  // /card-list

                .catalog__col-list

                  // card-list
                  .card-list
                    a(href="#").card-list__img 
                      img(src="img/albums/img2.jpg", alt="" srcset="img/albums/img2@2x.jpg x2")
                    .card-list__content 
                      .card-list__content-left 
                        .card-list__title 
                          a(href="#") Modern Talking - The 1st Album (LP, Album)
                        .card-list__price-row 
                          .card-list__price 
                            | 4 500 &#8381;
                          .card-list__price-delivery 
                            img(src="img/icons/car.png", alt="", srcset="img/icons/car@2x.png x2")
                            | 350 &#8381; 
                            span (из Москвы)
                        ul.card-list__list 
                          li Лейбл: 
                            span Sony Music TV, Columbia
                          li Каталожный номер: 
                            span STVCD129
                          li Состояние медиа: 
                            span Very Good Plus (VG+)
                          li Состояние конверта: 
                            span Good Plus (G+)
                        .card-list__text Виниловая пластинка (LP) - MODERN TALKING -1987 ''The Modern Talking Story''  альбомный, Club Edition, Compilation Лейбл: Hansa (14
                      .card-list__content-right 
                        .card-list__statistic 
                          .card-list__statistic-item 
                            img(src="img/icons/bell.png", alt="" srcset="img/icons/bell@2x.png x2")
                            | 14 Имеют
                          .card-list__statistic-item 
                            img(src="img/icons/bell.png", alt="" srcset="img/icons/bell@2x.png x2")
                            | 2 Хотят
                        .card-list__block 
                          .card-list__subtitle 
                            a(href="#") JR Studio
                          .card-list__points 
                            .card-list__points-percent 
                              img(src="img/icons/heart.png", alt="", srcset="img/icons/heart@2x.png x2")
                              | 92.8%
                            .card-list__points-count 208 оценок
                          .card-list__text Москва, Россия
                  // /card-list
                
                .catalog__col-list

                  // card-list
                  .card-list
                    a(href="#").card-list__img 
                      img(src="img/albums/img3.jpg", alt="" srcset="img/albums/img3@2x.jpg x2")
                    .card-list__content 
                      .card-list__content-left 
                        .card-list__title 
                          a(href="#") Various - Once Upon A Time In The West Midlands: The Bostin’ Sounds Of Brumrock 1966-1974 (3xCD, Comp)
                        .card-list__price-row 
                          .card-list__price 
                            | 1 200 &#8381;
                          .card-list__price-delivery 
                            img(src="img/icons/car.png", alt="", srcset="img/icons/car@2x.png x2")
                            | 350 &#8381; 
                            span (из Екатеринбурга)
                        ul.card-list__list 
                          li Лейбл: 
                            span Sony Music TV, Columbia
                          li Каталожный номер: 
                            span STVCD129
                          li Состояние медиа: 
                            span Very Good Plus (VG+)
                          li Состояние конверта: 
                            span Good Plus (G+)
                        .card-list__text Виниловая пластинка (LP) - MODERN TALKING -1987 ''The Modern
                      .card-list__content-right 
                        .card-list__statistic 
                          .card-list__statistic-item 
                            img(src="img/icons/bell.png", alt="" srcset="img/icons/bell@2x.png x2")
                            | 0 Имеют
                          .card-list__statistic-item 
                            img(src="img/icons/bell.png", alt="" srcset="img/icons/bell@2x.png x2")
                            | 0 Хотят
                        .card-list__block 
                          .card-list__subtitle 
                            a(href="#") Vynil STORE
                          .card-list__points 
                            .card-list__points-percent 
                              img(src="img/icons/heart.png", alt="", srcset="img/icons/heart@2x.png x2")
                              | 39.8%
                            .card-list__points-count 18 оценок
                          .card-list__text Екатеринбург, Россия
                  // /card-list

                .catalog__col-list

                  // card-list
                  .card-list
                    a(href="#").card-list__img 
                      img(src="img/albums/img4.jpg", alt="" srcset="img/albums/img4@2x.jpg x2")
                    .card-list__content 
                      .card-list__content-left 
                        .card-list__title 
                          a(href="#") Modern Talking - You Are Not Alone (CD, Maxi)
                        .card-list__price-row 
                          .card-list__price 
                            | 10 500 &#8381;
                          .card-list__price-delivery 
                            img(src="img/icons/car.png", alt="", srcset="img/icons/car@2x.png x2")
                            | 350 &#8381; 
                            span (из Екатеринбурга)
                        ul.card-list__list 
                          li Лейбл: 
                            span Sony Music TV, Columbia
                          li Каталожный номер: 
                            span STVCD129
                          li Состояние медиа: 
                            span Very Good Plus (VG+)
                          li Состояние конверта: 
                            span Good Plus (G+)
                        .card-list__text Виниловая пластинка (LP) - MODERN TALKING -1987 ''The Modern Talking Story''  альбомный, Club Edition, Compilation Лейбл: Hansa (14
                      .card-list__content-right 
                        .card-list__statistic 
                          .card-list__statistic-item 
                            img(src="img/icons/bell.png", alt="" srcset="img/icons/bell@2x.png x2")
                            | 141 Имеют
                          .card-list__statistic-item 
                            img(src="img/icons/bell.png", alt="" srcset="img/icons/bell@2x.png x2")
                            | 21 Хотят
                        .card-list__block 
                          .card-list__subtitle 
                            a(href="#") ULTRA MD
                          .card-list__points 
                            .card-list__points-percent 
                              img(src="img/icons/heart.png", alt="", srcset="img/icons/heart@2x.png x2")
                              | 79.8%
                            .card-list__points-count 48 оценок
                          .card-list__text Новосибирск, Россия
                  // /card-list

                .catalog__col-list

                  // card-list
                  .card-list
                    a(href="#").card-list__img 
                      img(src="img/albums/img5.jpg", alt="" srcset="img/albums/img5@2x.jpg x2")
                    .card-list__content 
                      .card-list__content-left 
                        .card-list__title 
                          a(href="#") Modern Talking - Let's Talk About Love (LP, Album)
                        .card-list__price-row 
                          .card-list__price 
                            | 99 500 &#8381;
                          .card-list__price-delivery 
                            img(src="img/icons/car.png", alt="", srcset="img/icons/car@2x.png x2")
                            | 1 350 &#8381; 
                            span (из Екатеринбурга)
                        ul.card-list__list 
                          li Лейбл: 
                            span Sony Music TV, Columbia
                          li Каталожный номер: 
                            span STVCD129
                          li Состояние медиа: 
                            span Very Good Plus (VG+)
                          li Состояние конверта: 
                            span Good Plus (G+)
                        .card-list__text Виниловая пластинка (LP) - MODERN TALKING -1987 ''The Modern Talking Story''  альбомный, Club Edition, Compilation Лейбл: Hansa (14
                      .card-list__content-right 
                        .card-list__statistic 
                          .card-list__statistic-item 
                            img(src="img/icons/bell.png", alt="" srcset="img/icons/bell@2x.png x2")
                            | 141 Имеют
                          .card-list__statistic-item 
                            img(src="img/icons/bell.png", alt="" srcset="img/icons/bell@2x.png x2")
                            | 21 Хотят
                        .card-list__block 
                          .card-list__subtitle 
                            a(href="#") ULTRA
                          .card-list__points 
                            .card-list__points-percent 
                              img(src="img/icons/heart.png", alt="", srcset="img/icons/heart@2x.png x2")
                              | 79.8%
                            .card-list__points-count 48 оценок
                          .card-list__text Самара, Россия
                  // /card-list

              // pagination
              .pagination
                .pagination__count 1 - 20 из 21 340
                .pagination__list 
                  a(href="#").pagination__arrow.pagination__arrow--prev 
                    img(src="img/icons/arrow2.png", alt="" srcset="img/icons/arrow2@2x.png x2")
                  ul 
                    li
                      a(href="#").active 1
                    li
                      a(href="#") 2
                    li
                      a(href="#") 3
                    li
                      a(href="#") 4
                    li
                      span ...
                    li
                      a(href="#") 116
                  a(href="#").pagination__arrow.pagination__arrow--next 
                    img(src="img/icons/arrow2.png", alt="" srcset="img/icons/arrow2@2x.png x2")
                .pagination__btn Показать ещё 25
                .pagination__more 
                  | Показать
                  .pagination__more-select
                    select(name="moreItem")
                      option(value="#") 25
                      option(value="#") 50
                      option(value="#") 75
                      option(value="#") 100
              // /pagination

      // /catalog

    include core/footer.pug
