extends core/base.pug

block title 
  title Дискография

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .wrapper 
          .breadcrumbs__list 
            ul 
              li 
                a(href="#") Дискография
              li 
                a(href="#") Артисты
              li 
                span Paul McCartney
      // /breadcrumbs

      // discography
      .discography
        .wrapper

          .discography__row 

            .discography__main 

              h1.title 
                span.title__blue McCartney 
                | – McCartney

              .discography__rowin 

                .discography__left 

                  .discography__slider 
                    #discographySlider 
                      .swiper-wrapper 
                        .swiper-slide 
                          img(src="img/performers/img1.webp", alt="", srcset="img/performers/img1@2x.webp 2x")
                        .swiper-slide 
                          img(src="img/performers/img1.webp", alt="", srcset="img/performers/img1@2x.webp 2x")
                        .swiper-slide 
                          img(src="img/performers/img1.webp", alt="", srcset="img/performers/img1@2x.webp 2x")
                      .discography__controll 
                        .discography__arrow.discography__arrow--prev.swiper-button-prev
                          <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>
                        .discography__arrow.discography__arrow--next.swiper-button-next 
                          <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>

                .discography__right

                  h2.discography__title Настоящее имя: James Paul McCartney

                  .discography__text 
                    p 
                      | Sir James Paul McCartney CH MBE (born 18 June 1942 in Liverpool, England) is a British singer, composer/songwriter, and multi-instrumentalist most famous for being a member of 
                      a(href="#") The Beatles.
                      |  He is also a published poet, painter, philanthropist, animal rights activist, and multi-media executive/producer. Widower of 
                      a(href="#") Linda McCartney.
                      |  Stepfather of Heather McCartney (Linda Eastman's daughter from her first marriage) and biological father to Mary McCartney, Stella McCartney, James McCartney and Beatrice McCartney.

                  .discography__table 
                    table 
                      tr 
                        td Лейбл:
                        td 
                          a(href="#") Apple Records 
                          | – PCS 7102, 
                          a(href="#") Apple Records – 
                          | 1E 062 o 04394
                      tr
                        td Формат:
                        td 
                          a(href="#") Пластинки, 
                          | LP, Album, Gatefold
                      tr
                        td Страна:
                        td UK
                      tr
                        td Дата релиза:
                        td 17 апр. 1970 г.
                      tr
                        td Жанр:
                        td 
                          a(href="#") Rock
                      tr
                        td Стиль:
                        td 
                          a(href="#") Pop Rock

                  .release__tabs.js-tabs
                    ul.release__triggers
                      li 
                        a(href="#tab_1").release__trigger.js-tabs-trigger.active Альтернативные названия и группы
                      li 
                        a(href="#tab_2").release__trigger.js-tabs-trigger Сайты и ссылки
                      li 
                        a(href="#tab_3").release__trigger.js-tabs-trigger Вариации
                    div
                      .release__content.js-tabs-content.open(data-href="#tab_1")
                        h2.discography__title Альтернативные названия:
                        .discography__links 
                          a(href="#") A. Smith (8), 
                          a(href="#") Apollo C. Vermouth, 
                          a(href="#") Bernard Webb, 
                          a(href="#") Clint Harrigan, 
                          a(href="#") Friend (15), 
                          a(href="#") Paul Ramon, 
                          a(href="#") Percy Thrillington, 
                          a(href="#") Pete Mitchell (9), 
                          a(href="#") Some Dude, Superweed 
                        h2.discography__title Участие в группах:
                        .discography__links 
                          a(href="#") Band Aid, Band Aid 20, 
                          a(href="#") Ferry Aid, George's Band, 
                          a(href="#") Johnny And The Moondogs, 
                          a(href="#") Lennon-McCartney, 
                          a(href="#") Paul &#38; Linda McCartney, 
                          a(href="#") Paul Weller &#38; Friends, 
                          a(href="#") Rockestra, 
                          a(href="#") The Beat Brothers (2), 
                          a(href="#") The Beatles, 
                          a(href="#") The Country Hams, 
                          a(href="#") The Crowd (2), 
                          a(href="#") The Fireman, The Justice Collective, 
                          a(href="#") The Quarrymen, 
                          a(href="#") The Smokin' Mojo Filters, 
                          a(href="#") Twin Freaks (3), 
                          a(href="#") Wings (2)

                      .release__content.js-tabs-content(data-href="#tab_2")
                        h2.discography__title Альтернативные названия:
                        .discography__links 
                          a(href="#") A. Smith (8), 
                          a(href="#") Apollo C. Vermouth, 
                          a(href="#") Bernard Webb, 
                          a(href="#") Clint Harrigan, 
                          a(href="#") Friend (15), 
                          a(href="#") Paul Ramon, 
                          a(href="#") Percy Thrillington, 
                          a(href="#") Pete Mitchell (9), 
                          a(href="#") Some Dude, Superweed 
                        h2.discography__title Участие в группах:
                        .discography__links 
                          a(href="#") Band Aid, Band Aid 20, 
                          a(href="#") Ferry Aid, George's Band, 
                          a(href="#") Johnny And The Moondogs, 
                          a(href="#") Lennon-McCartney, 
                          a(href="#") Paul &#38; Linda McCartney, 
                          a(href="#") Paul Weller &#38; Friends, 
                          a(href="#") Rockestra, 
                          a(href="#") The Beat Brothers (2), 
                          a(href="#") The Beatles, 
                          a(href="#") The Country Hams, 
                          a(href="#") The Crowd (2), 
                          a(href="#") The Fireman, The Justice Collective, 
                          a(href="#") The Quarrymen, 
                          a(href="#") The Smokin' Mojo Filters, 
                          a(href="#") Twin Freaks (3), 
                          a(href="#") Wings (2)

                      .release__content.js-tabs-content(data-href="#tab_3")
                        h2.discography__title Альтернативные названия:
                        .discography__links 
                          a(href="#") A. Smith (8), 
                          a(href="#") Apollo C. Vermouth, 
                          a(href="#") Bernard Webb, 
                          a(href="#") Clint Harrigan, 
                          a(href="#") Friend (15), 
                          a(href="#") Paul Ramon, 
                          a(href="#") Percy Thrillington, 
                          a(href="#") Pete Mitchell (9), 
                          a(href="#") Some Dude, Superweed 
                        h2.discography__title Участие в группах:
                        .discography__links 
                          a(href="#") Band Aid, Band Aid 20, 
                          a(href="#") Ferry Aid, George's Band, 
                          a(href="#") Johnny And The Moondogs, 
                          a(href="#") Lennon-McCartney, 
                          a(href="#") Paul &#38; Linda McCartney, 
                          a(href="#") Paul Weller &#38; Friends, 
                          a(href="#") Rockestra, 
                          a(href="#") The Beat Brothers (2), 
                          a(href="#") The Beatles, 
                          a(href="#") The Country Hams, 
                          a(href="#") The Crowd (2), 
                          a(href="#") The Fireman, The Justice Collective, 
                          a(href="#") The Quarrymen, 
                          a(href="#") The Smokin' Mojo Filters, 
                          a(href="#") Twin Freaks (3), 
                          a(href="#") Wings (2)
                          
            .discography__sidebar

              .discography__buttons 
                button(type="submit").product__btn.product__btn--blue Купить Paul McCartney
                a(href="#").product__btn.product__btn--blue В продаже 1489 шт.
                button(type="submit").product__btn.product__btn--white Продать

              .discography__statistics-interaction 

                .discography__statistics
                  .discography__statistics-item 
                    img(src="img/icons/collection.svg", alt="")
                    | 141 Имеют
                  .discography__statistics-item 
                    img(src="img/icons/bell.svg", alt="")
                    | 21 Хотят

                .discography__interaction 
                  a(href="#").discography__interaction-item 
                    .discography__interaction-icon 
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512"><path xmlns="http://www.w3.org/2000/svg" d="m256 455.515625c-7.289062 0-14.316406-2.640625-19.792969-7.4375-20.683593-18.085937-40.625-35.082031-58.21875-50.074219l-.089843-.078125c-51.582032-43.957031-96.125-81.917969-127.117188-119.3125-34.644531-41.804687-50.78125-81.441406-50.78125-124.742187 0-42.070313 14.425781-80.882813 40.617188-109.292969 26.503906-28.746094 62.871093-44.578125 102.414062-44.578125 29.554688 0 56.621094 9.34375 80.445312 27.769531 12.023438 9.300781 22.921876 20.683594 32.523438 33.960938 9.605469-13.277344 20.5-24.660157 32.527344-33.960938 23.824218-18.425781 50.890625-27.769531 80.445312-27.769531 39.539063 0 75.910156 15.832031 102.414063 44.578125 26.191406 28.410156 40.613281 67.222656 40.613281 109.292969 0 43.300781-16.132812 82.9375-50.777344 124.738281-30.992187 37.398437-75.53125 75.355469-127.105468 119.308594-17.625 15.015625-37.597657 32.039062-58.328126 50.167969-5.472656 4.789062-12.503906 7.429687-19.789062 7.429687zm-112.96875-425.523437c-31.066406 0-59.605469 12.398437-80.367188 34.914062-21.070312 22.855469-32.675781 54.449219-32.675781 88.964844 0 36.417968 13.535157 68.988281 43.882813 105.605468 29.332031 35.394532 72.960937 72.574219 123.476562 115.625l.09375.078126c17.660156 15.050781 37.679688 32.113281 58.515625 50.332031 20.960938-18.253907 41.011719-35.34375 58.707031-50.417969 50.511719-43.050781 94.136719-80.222656 123.46875-115.617188 30.34375-36.617187 43.878907-69.1875 43.878907-105.605468 0-34.515625-11.605469-66.109375-32.675781-88.964844-20.757813-22.515625-49.300782-34.914062-80.363282-34.914062-22.757812 0-43.652344 7.234374-62.101562 21.5-16.441406 12.71875-27.894532 28.796874-34.609375 40.046874-3.453125 5.785157-9.53125 9.238282-16.261719 9.238282s-12.808594-3.453125-16.261719-9.238282c-6.710937-11.25-18.164062-27.328124-34.609375-40.046874-18.449218-14.265626-39.34375-21.5-62.097656-21.5zm0 0"></path></svg>
                    | Добавить в избранное
                  a(href="#").discography__interaction-item 
                    .discography__interaction-icon 
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.422 68.422"><path d="M59.571 45.188l-1.414-12.206c-.078-10.371-6.919-19.511-16.637-22.629V7.308C41.52 3.279 38.242 0 34.212 0s-7.309 3.278-7.309 7.308v3.045c-9.717 3.118-16.559 12.258-16.637 22.629L8.853 45.185a7.942 7.942 0 00-3.045 6.284v.479c0 5.963 5.834 5.963 8.03 5.963h8.064c.935 5.951 5.875 10.511 11.827 10.511s10.892-4.56 11.827-10.511h9.026c2.196 0 8.031 0 8.031-5.963v-.479a7.935 7.935 0 00-3.042-6.281zm-25.84 17.234c-2.318 0-4.334-1.442-5.333-3.548h10.665c-.998 2.106-3.014 3.548-5.332 3.548zm22.884-10.613c-.405.068-1.085.103-2.031.103H13.839c-.946 0-1.625-.034-2.03-.103v-.339c0-.93.601-1.55 1.163-1.82l1.489-.717 1.787-15.426.02-.345c0-8.451 5.994-15.838 14.252-17.565l2.386-.499V7.309a1.31 1.31 0 012.617 0v7.788l2.386.499c8.258 1.727 14.252 9.115 14.252 17.565l1.807 15.772 1.488.718c.562.271 1.162.891 1.162 1.818v.34h-.003z" xmlns="http://www.w3.org/2000/svg"/></svg>
                    | Хотел бы приобрести
                  a(href="#").discography__interaction-item.discography__interaction-item--stroke 
                    .discography__interaction-icon 
                      <svg viewBox="0 0 83 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.4784 19.6016L50.6754 39.7929C51.2587 40.1587 51.6128 40.7988 51.6128 41.4873V90.3632M5.95347 78.0318L33.9647 95.2317C35.2973 96.05 37.0112 95.0911 37.0112 93.5274V47.1157C37.0112 46.4204 36.6502 45.7751 36.0577 45.4113L8.04653 28.2115C6.71393 27.3932 5 28.352 5 29.9158V76.3275C5 77.0227 5.36103 77.6681 5.95347 78.0318Z" stroke-width="7" stroke-linecap="round"/>
                        <path d="M31.3952 11.7392L63.6125 32.4894C64.1842 32.8575 64.5296 33.4909 64.5296 34.1708V83.0624" stroke-width="7" stroke-linecap="round"/>
                        <path d="M44.8736 5L75.4047 24.6271C75.9771 24.9951 76.3232 25.629 76.3232 26.3095V75.7616" stroke-width="7" stroke-linecap="round"/>
                      </svg>
                    | Релиз у меня в коллекции

              .discography__chart 
                #chartByStatistic(data-title="Статистика продаж" data-range="[340, 1870, 3400]")

      // /discography

      // discocollection
      .discocollection
        .wrapper 

          .catalog__head 

            .title Дискография Paul McCartney
              .title__sticker 3 600 результатов

            .catalog__filter-btn.js-menu-hamb(data-menu="discocollectionFilter")
              svg(width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                rect(x="1" y="1" width="58" height="16" rx="5")
                rect(x="1" y="22" width="58" height="16" rx="5")
                rect(x="1" y="43" width="58" height="16" rx="5")

              | Фильтры

            form(action="#").catalog__sort 
              .catalog__sort-icon.active
                input#sort-list(type="radio", name="sort" checked)
                label(for="sort-list") 
                  svg(width="20" height="20" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(x="1" y="1" width="16" height="16" rx="5")
                    rect(x="20" y="1" width="39" height="16" rx="5")
                    rect(x="20" y="22" width="39" height="16" rx="5")
                    rect(x="20" y="43" width="39" height="16" rx="5")
                    rect(x="1" y="22" width="16" height="16" rx="5")
                    rect(x="1" y="43" width="16" height="16" rx="5")
              .catalog__sort-icon 
                input#sort-block(type="radio", name="sort")
                label(for="sort-block") 
                  svg(width="20" height="20" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
                    rect(x="1" y="1" width="27" height="27" rx="5")
                    rect(x="1" y="32" width="27" height="27" rx="5")
                    rect(x="32" y="32" width="27" height="27" rx="5")
                    rect(x="32" y="1" width="27" height="27" rx="5")
              .catalog__sort-select 
                select(name="#") 
                  option(value="#" disabled selected) Сортировать
                  option(value="#") По дате выхода
                  option(value="#") Дешевле
                  option(value="#") Дороже

          .discocollection__row 

            .discocollection__sidebar#discocollectionFilter

              .discocollection__close.js-menu-close(data-drop="discocollectionFilter")
              
              form(action="#").discocollection__filter

                ul.discocollection__filter-list 
                  li 
                    input#discograpy_0(type="checkbox", name="#")
                    label(for="discograpy_0") 
                      span.discocollection__filter-text Релизы
                      span.discocollection__filter-sticker 340
                  li 
                    input#discograpy_1(type="checkbox", name="#")
                    label(for="discograpy_1") 
                      span.discocollection__filter-text Альбомы
                      span.discocollection__filter-sticker 69
                  li 
                    input#discograpy_2(type="checkbox", name="#")
                    label(for="discograpy_2") 
                      span.discocollection__filter-text Синглы и EPs
                      span.discocollection__filter-sticker 154
                  li 
                    input#discograpy_3(type="checkbox", name="#")
                    label(for="discograpy_3") 
                      span.discocollection__filter-text Компиляции
                      span.discocollection__filter-sticker 38
                  li 
                    input#discograpy_4(type="checkbox", name="#")
                    label(for="discograpy_4") 
                      span.discocollection__filter-text Видео
                      span.discocollection__filter-sticker 42
                  li 
                    input#discograpy_5(type="checkbox", name="#")
                    label(for="discograpy_5") 
                      span.discocollection__filter-text Другое
                      span.discocollection__filter-sticker 37

                ul.discocollection__filter-list 
                  li  
                    input#discograpy_6(type="checkbox", name="#")
                    label(for="discograpy_6") 
                      span.discocollection__filter-text Где встречается
                      span.discocollection__filter-sticker 1707
                  li 
                    input#discograpy_7(type="checkbox", name="#")
                    label(for="discograpy_7") 
                      span.discocollection__filter-text Альбомы
                      span.discocollection__filter-sticker 69
                  li 
                    input#discograpy_8(type="checkbox", name="#")
                    label(for="discograpy_8") 
                      span.discocollection__filter-text Синглы и EPs
                      span.discocollection__filter-sticker 154
                  li 
                    input#discograpy_9(type="checkbox", name="#")
                    label(for="discograpy_9") 
                      span.discocollection__filter-text Компиляции
                      span.discocollection__filter-sticker 38
                  li 
                    input#discograpy_10(type="checkbox", name="#")
                    label(for="discograpy_10") 
                      span.discocollection__filter-text Миксы
                      span.discocollection__filter-sticker 42
                  li 
                    input#discograpy_11(type="checkbox", name="#")
                    label(for="discograpy_11") 
                      span.discocollection__filter-text Видео
                      span.discocollection__filter-sticker 37
                  li 
                    input#discograpy_12(type="checkbox", name="#")
                    label(for="discograpy_12") 
                      span.discocollection__filter-text Другое
                      span.discocollection__filter-sticker 17
                
                button(type="submit").discocollection__filter-btn 
                  <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M45.957 1.48438H54.043C54.7617 1.48438 55.1211 1.84375 55.1211 2.5625V97.4375C55.1211 98.1563 54.7617 98.5156 54.043 98.5156H45.957C45.2383 98.5156 44.8789 98.1563 44.8789 97.4375V2.5625C44.8789 1.84375 45.2383 1.48438 45.957 1.48438Z"/>
                    <path d="M4.71875 44.8789H95.2812C96 44.8789 96.3594 45.2383 96.3594 45.957V54.043C96.3594 54.7617 96 55.1211 95.2812 55.1211H4.71875C4 55.1211 3.64062 54.7617 3.64062 54.043V45.957C3.64062 45.2383 4 44.8789 4.71875 44.8789Z"/>
                  </svg>
                  | Добавить релиз

                .discocollection__alphabet
                  .discocollection__alphabet-title По алфавиту
                  .discocollection__alphabet-items 
                    .discocollection__alphabet-item 
                      input#alphabet_0(type="radio", name="alphabet")
                      label(for="alphabet_0") A
                    .discocollection__alphabet-item 
                      input#alphabet_1(type="radio", name="alphabet")
                      label(for="alphabet_1") B
                    .discocollection__alphabet-item 
                      input#alphabet_2(type="radio", name="alphabet")
                      label(for="alphabet_2") C
                    .discocollection__alphabet-item 
                      input#alphabet_3(type="radio", name="alphabet")
                      label(for="alphabet_3") D
                    .discocollection__alphabet-item 
                      input#alphabet_4(type="radio", name="alphabet")
                      label(for="alphabet_4") E
                    .discocollection__alphabet-item 
                      input#alphabet_5(type="radio", name="alphabet")
                      label(for="alphabet_5") F
                    .discocollection__alphabet-item 
                      input#alphabet_6(type="radio", name="alphabet")
                      label(for="alphabet_6") G
                    .discocollection__alphabet-item 
                      input#alphabet_7(type="radio", name="alphabet")
                      label(for="alphabet_7") H
                    .discocollection__alphabet-item 
                      input#alphabet_8(type="radio", name="alphabet")
                      label(for="alphabet_8") I
                    .discocollection__alphabet-item 
                      input#alphabet_9(type="radio", name="alphabet")
                      label(for="alphabet_9") J
                    .discocollection__alphabet-item 
                      input#alphabet_10(type="radio", name="alphabet")
                      label(for="alphabet_10") K
                    .discocollection__alphabet-item 
                      input#alphabet_11(type="radio", name="alphabet")
                      label(for="alphabet_11") L
                    .discocollection__alphabet-item 
                      input#alphabet_12(type="radio", name="alphabet")
                      label(for="alphabet_12") M
                    .discocollection__alphabet-item 
                      input#alphabet_13(type="radio", name="alphabet")
                      label(for="alphabet_13") N
                    .discocollection__alphabet-item 
                      input#alphabet_14(type="radio", name="alphabet")
                      label(for="alphabet_14") O
                    .discocollection__alphabet-item 
                      input#alphabet_15(type="radio", name="alphabet")
                      label(for="alphabet_15") P
                    .discocollection__alphabet-item 
                      input#alphabet_16(type="radio", name="alphabet")
                      label(for="alphabet_16") Q
                    .discocollection__alphabet-item 
                      input#alphabet_17(type="radio", name="alphabet")
                      label(for="alphabet_17") R
                    .discocollection__alphabet-item 
                      input#alphabet_18(type="radio", name="alphabet")
                      label(for="alphabet_18") S
                    .discocollection__alphabet-item 
                      input#alphabet_19(type="radio", name="alphabet")
                      label(for="alphabet_19") T
                    .discocollection__alphabet-item 
                      input#alphabet_20(type="radio", name="alphabet")
                      label(for="alphabet_20") U
                    .discocollection__alphabet-item 
                      input#alphabet_21(type="radio", name="alphabet")
                      label(for="alphabet_21") V
                    .discocollection__alphabet-item 
                      input#alphabet_22(type="radio", name="alphabet")
                      label(for="alphabet_22") W
                    .discocollection__alphabet-item 
                      input#alphabet_23(type="radio", name="alphabet")
                      label(for="alphabet_23") X
                    .discocollection__alphabet-item 
                      input#alphabet_24(type="radio", name="alphabet")
                      label(for="alphabet_24") Y
                    .discocollection__alphabet-item 
                      input#alphabet_25(type="radio", name="alphabet")
                      label(for="alphabet_25") Z

            .discocollection__main 

              .discocollection__items

                .discocollection__item 
                  a(href="#").discocollection__img 
                    img(src="img/albums/img1.webp", alt="", srcset="img/albums/img1@2x.webp 2x")
                  .discocollection__content 
                    .discocollection__text 
                      .discocollection__head 
                        a(href="#") The Family Way
                        .discocollection__sticker 22 издания
                      p 1967
                      p 
                        a(href="#") Decca
                    .discocollection__btn-block 
                      a(href="#").discocollection__btn Посмотреть в продаже

                .discocollection__item 
                  a(href="#").discocollection__img 
                    img(src="img/albums/img2.webp", alt="", srcset="img/albums/img2@2x.webp 2x")
                  .discocollection__content 
                    .discocollection__text 
                      .discocollection__head 
                        a(href="#") McCartney
                        .discocollection__sticker 22 издания
                      p 1970
                      p 
                        a(href="#") Apple Records
                    .discocollection__btn-block 
                      a(href="#").discocollection__btn Посмотреть в продаже

              .discocollection__performers 
                .row.gy
                  .discocollection__col 
                    .discocollection__performer 
                      a(href="#").discocollection__performer-img 
                        img(src="img/performers/img2.webp", alt="", srcset="img/performers/img2@2x.webp 2x")
                      .discocollection__performer-name 
                        a(href="#") Lennon-McCartney
                  .discocollection__col 
                    .discocollection__performer 
                      a(href="#").discocollection__performer-img 
                        img(src="img/performers/img3.webp", alt="", srcset="img/performers/img3@2x.webp 2x")
                      .discocollection__performer-name 
                        a(href="#") Jagger-Richards
                  .discocollection__col 
                    .discocollection__performer 
                      a(href="#").discocollection__performer-img 
                        img(src="img/performers/img4.webp", alt="", srcset="img/performers/img4@2x.webp 2x")
                      .discocollection__performer-name 
                        a(href="#") Bobby Womack
                  .discocollection__col 
                    .discocollection__performer 
                      a(href="#").discocollection__performer-img 
                        img(src="img/performers/img5.webp", alt="", srcset="img/performers/img5@2x.webp 2x")
                      .discocollection__performer-name 
                        a(href="#") John Golden
                  .discocollection__col 
                    .discocollection__performer 
                      a(href="#").discocollection__performer-img 
                        img(src="img/performers/img6.webp", alt="", srcset="img/performers/img6@2x.webp 2x")
                      .discocollection__performer-name 
                        a(href="#") Irving Berlin

              .discocollection__pagination 
                // pagination
                .pagination
                  .pagination__count 1 - 20 из 21 340
                  .pagination__list 
                    a(href="#").pagination__arrow.pagination__arrow--prev 
                      img(src="img/icons/arrow2.svg", alt="")
                    ul 
                      li
                        a(href="#").active 1
                      li
                        a(href="#") 2
                      li
                        a(href="#") 3
                      li
                        a(href="#") 4
                      li
                        span ...
                      li
                        a(href="#") 116
                    a(href="#").pagination__arrow.pagination__arrow--next 
                      img(src="img/icons/arrow2.svg", alt="")
                  .pagination__btn Показать ещё 25
                  .pagination__more 
                    | Показать
                    .pagination__more-select
                      select(name="moreItem")
                        option(value="#") 25
                        option(value="#") 50
                        option(value="#") 75
                        option(value="#") 100
                // /pagination

      // /discocollection

      // releaselist
      .releaselist
        .wrapper

          .catalog__head 

            .title Релизы и издания
              .title__sticker 247

            a(href="").releaselist__addbtn 
              <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M45.957 1.48438H54.043C54.7617 1.48438 55.1211 1.84375 55.1211 2.5625V97.4375C55.1211 98.1563 54.7617 98.5156 54.043 98.5156H45.957C45.2383 98.5156 44.8789 98.1563 44.8789 97.4375V2.5625C44.8789 1.84375 45.2383 1.48438 45.957 1.48438Z"/>
                <path d="M4.71875 44.8789H95.2812C96 44.8789 96.3594 45.2383 96.3594 45.957V54.043C96.3594 54.7617 96 55.1211 95.2812 55.1211H4.71875C4 55.1211 3.64062 54.7617 3.64062 54.043V45.957C3.64062 45.2383 4 44.8789 4.71875 44.8789Z"/>
              </svg>
              | Добавить релиз

            form(action="#").catalog__sort 
              .catalog__sort-select 
                select(name="#") 
                  option(value="#" disabled selected) Сортировать
                  option(value="#") По дате выхода
                  option(value="#") Дешевле
                  option(value="#") Дороже

          .releaselist__table 
            table 
              tr 
                td Название
                td Формат
                td Лейбл
                td Номер по каталогу
                td Страна
                td Год
                td
                td Сейчас в продаже
              tr 
                td 
                  a(href="#").releaselist__title McCartney
                td LP, Album, Gat
                td 
                  a(href="#") Apple Records
                td PCS 7102, 1E 062 o 04394, PCS7102
                td UK
                td 1970
                td 
                  form(action="#").releaselist__icons
                    .releaselist__icon.active
                      input#favorite_0_0(type="checkbox", name="#")
                      label(for="favorite_0_0") 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512"><path xmlns="http://www.w3.org/2000/svg" d="m256 455.515625c-7.289062 0-14.316406-2.640625-19.792969-7.4375-20.683593-18.085937-40.625-35.082031-58.21875-50.074219l-.089843-.078125c-51.582032-43.957031-96.125-81.917969-127.117188-119.3125-34.644531-41.804687-50.78125-81.441406-50.78125-124.742187 0-42.070313 14.425781-80.882813 40.617188-109.292969 26.503906-28.746094 62.871093-44.578125 102.414062-44.578125 29.554688 0 56.621094 9.34375 80.445312 27.769531 12.023438 9.300781 22.921876 20.683594 32.523438 33.960938 9.605469-13.277344 20.5-24.660157 32.527344-33.960938 23.824218-18.425781 50.890625-27.769531 80.445312-27.769531 39.539063 0 75.910156 15.832031 102.414063 44.578125 26.191406 28.410156 40.613281 67.222656 40.613281 109.292969 0 43.300781-16.132812 82.9375-50.777344 124.738281-30.992187 37.398437-75.53125 75.355469-127.105468 119.308594-17.625 15.015625-37.597657 32.039062-58.328126 50.167969-5.472656 4.789062-12.503906 7.429687-19.789062 7.429687zm-112.96875-425.523437c-31.066406 0-59.605469 12.398437-80.367188 34.914062-21.070312 22.855469-32.675781 54.449219-32.675781 88.964844 0 36.417968 13.535157 68.988281 43.882813 105.605468 29.332031 35.394532 72.960937 72.574219 123.476562 115.625l.09375.078126c17.660156 15.050781 37.679688 32.113281 58.515625 50.332031 20.960938-18.253907 41.011719-35.34375 58.707031-50.417969 50.511719-43.050781 94.136719-80.222656 123.46875-115.617188 30.34375-36.617187 43.878907-69.1875 43.878907-105.605468 0-34.515625-11.605469-66.109375-32.675781-88.964844-20.757813-22.515625-49.300782-34.914062-80.363282-34.914062-22.757812 0-43.652344 7.234374-62.101562 21.5-16.441406 12.71875-27.894532 28.796874-34.609375 40.046874-3.453125 5.785157-9.53125 9.238282-16.261719 9.238282s-12.808594-3.453125-16.261719-9.238282c-6.710937-11.25-18.164062-27.328124-34.609375-40.046874-18.449218-14.265626-39.34375-21.5-62.097656-21.5zm0 0"></path></svg>
                    .releaselist__icon
                      input#favorite_0_1(type="checkbox", name="#")
                      label(for="favorite_0_1") 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.422 68.422"><path d="M59.571 45.188l-1.414-12.206c-.078-10.371-6.919-19.511-16.637-22.629V7.308C41.52 3.279 38.242 0 34.212 0s-7.309 3.278-7.309 7.308v3.045c-9.717 3.118-16.559 12.258-16.637 22.629L8.853 45.185a7.942 7.942 0 00-3.045 6.284v.479c0 5.963 5.834 5.963 8.03 5.963h8.064c.935 5.951 5.875 10.511 11.827 10.511s10.892-4.56 11.827-10.511h9.026c2.196 0 8.031 0 8.031-5.963v-.479a7.935 7.935 0 00-3.042-6.281zm-25.84 17.234c-2.318 0-4.334-1.442-5.333-3.548h10.665c-.998 2.106-3.014 3.548-5.332 3.548zm22.884-10.613c-.405.068-1.085.103-2.031.103H13.839c-.946 0-1.625-.034-2.03-.103v-.339c0-.93.601-1.55 1.163-1.82l1.489-.717 1.787-15.426.02-.345c0-8.451 5.994-15.838 14.252-17.565l2.386-.499V7.309a1.31 1.31 0 012.617 0v7.788l2.386.499c8.258 1.727 14.252 9.115 14.252 17.565l1.807 15.772 1.488.718c.562.271 1.162.891 1.162 1.818v.34h-.003z" xmlns="http://www.w3.org/2000/svg"/></svg>
                    .releaselist__icon.releaselist__icon--stroke
                      input#favorite_0_2(type="checkbox", name="#")
                      label(for="favorite_0_2") 
                        <svg viewBox="0 0 83 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M18.4784 19.6016L50.6754 39.7929C51.2587 40.1587 51.6128 40.7988 51.6128 41.4873V90.3632M5.95347 78.0318L33.9647 95.2317C35.2973 96.05 37.0112 95.0911 37.0112 93.5274V47.1157C37.0112 46.4204 36.6502 45.7751 36.0577 45.4113L8.04653 28.2115C6.71393 27.3932 5 28.352 5 29.9158V76.3275C5 77.0227 5.36103 77.6681 5.95347 78.0318Z" stroke-width="7" stroke-linecap="round"/>
                          <path d="M31.3952 11.7392L63.6125 32.4894C64.1842 32.8575 64.5296 33.4909 64.5296 34.1708V83.0624" stroke-width="7" stroke-linecap="round"/>
                          <path d="M44.8736 5L75.4047 24.6271C75.9771 24.9951 76.3232 25.629 76.3232 26.3095V75.7616" stroke-width="7" stroke-linecap="round"/>
                        </svg>
                td 
                  a(href="#").releaselist__btn.releaselist__btn--blue В продаже 2 шт.
              tr 
                td 
                  a(href="#").releaselist__title McCartney
                td 2xLP, S/Sided, W/Lbl
                td 
                  a(href="#") Apple Records
                td PCS7102
                td UK
                td 1970
                td 
                  form(action="#").releaselist__icons
                    .releaselist__icon.active
                      input#favorite_1_0(type="checkbox", name="#")
                      label(for="favorite_1_0") 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512"><path xmlns="http://www.w3.org/2000/svg" d="m256 455.515625c-7.289062 0-14.316406-2.640625-19.792969-7.4375-20.683593-18.085937-40.625-35.082031-58.21875-50.074219l-.089843-.078125c-51.582032-43.957031-96.125-81.917969-127.117188-119.3125-34.644531-41.804687-50.78125-81.441406-50.78125-124.742187 0-42.070313 14.425781-80.882813 40.617188-109.292969 26.503906-28.746094 62.871093-44.578125 102.414062-44.578125 29.554688 0 56.621094 9.34375 80.445312 27.769531 12.023438 9.300781 22.921876 20.683594 32.523438 33.960938 9.605469-13.277344 20.5-24.660157 32.527344-33.960938 23.824218-18.425781 50.890625-27.769531 80.445312-27.769531 39.539063 0 75.910156 15.832031 102.414063 44.578125 26.191406 28.410156 40.613281 67.222656 40.613281 109.292969 0 43.300781-16.132812 82.9375-50.777344 124.738281-30.992187 37.398437-75.53125 75.355469-127.105468 119.308594-17.625 15.015625-37.597657 32.039062-58.328126 50.167969-5.472656 4.789062-12.503906 7.429687-19.789062 7.429687zm-112.96875-425.523437c-31.066406 0-59.605469 12.398437-80.367188 34.914062-21.070312 22.855469-32.675781 54.449219-32.675781 88.964844 0 36.417968 13.535157 68.988281 43.882813 105.605468 29.332031 35.394532 72.960937 72.574219 123.476562 115.625l.09375.078126c17.660156 15.050781 37.679688 32.113281 58.515625 50.332031 20.960938-18.253907 41.011719-35.34375 58.707031-50.417969 50.511719-43.050781 94.136719-80.222656 123.46875-115.617188 30.34375-36.617187 43.878907-69.1875 43.878907-105.605468 0-34.515625-11.605469-66.109375-32.675781-88.964844-20.757813-22.515625-49.300782-34.914062-80.363282-34.914062-22.757812 0-43.652344 7.234374-62.101562 21.5-16.441406 12.71875-27.894532 28.796874-34.609375 40.046874-3.453125 5.785157-9.53125 9.238282-16.261719 9.238282s-12.808594-3.453125-16.261719-9.238282c-6.710937-11.25-18.164062-27.328124-34.609375-40.046874-18.449218-14.265626-39.34375-21.5-62.097656-21.5zm0 0"></path></svg>
                    .releaselist__icon
                      input#favorite_1_1(type="checkbox", name="#")
                      label(for="favorite_1_1") 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.422 68.422"><path d="M59.571 45.188l-1.414-12.206c-.078-10.371-6.919-19.511-16.637-22.629V7.308C41.52 3.279 38.242 0 34.212 0s-7.309 3.278-7.309 7.308v3.045c-9.717 3.118-16.559 12.258-16.637 22.629L8.853 45.185a7.942 7.942 0 00-3.045 6.284v.479c0 5.963 5.834 5.963 8.03 5.963h8.064c.935 5.951 5.875 10.511 11.827 10.511s10.892-4.56 11.827-10.511h9.026c2.196 0 8.031 0 8.031-5.963v-.479a7.935 7.935 0 00-3.042-6.281zm-25.84 17.234c-2.318 0-4.334-1.442-5.333-3.548h10.665c-.998 2.106-3.014 3.548-5.332 3.548zm22.884-10.613c-.405.068-1.085.103-2.031.103H13.839c-.946 0-1.625-.034-2.03-.103v-.339c0-.93.601-1.55 1.163-1.82l1.489-.717 1.787-15.426.02-.345c0-8.451 5.994-15.838 14.252-17.565l2.386-.499V7.309a1.31 1.31 0 012.617 0v7.788l2.386.499c8.258 1.727 14.252 9.115 14.252 17.565l1.807 15.772 1.488.718c.562.271 1.162.891 1.162 1.818v.34h-.003z" xmlns="http://www.w3.org/2000/svg"/></svg>
                    .releaselist__icon.releaselist__icon--stroke
                      input#favorite_1_2(type="checkbox", name="#")
                      label(for="favorite_1_2") 
                        <svg viewBox="0 0 83 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M18.4784 19.6016L50.6754 39.7929C51.2587 40.1587 51.6128 40.7988 51.6128 41.4873V90.3632M5.95347 78.0318L33.9647 95.2317C35.2973 96.05 37.0112 95.0911 37.0112 93.5274V47.1157C37.0112 46.4204 36.6502 45.7751 36.0577 45.4113L8.04653 28.2115C6.71393 27.3932 5 28.352 5 29.9158V76.3275C5 77.0227 5.36103 77.6681 5.95347 78.0318Z" stroke-width="7" stroke-linecap="round"/>
                          <path d="M31.3952 11.7392L63.6125 32.4894C64.1842 32.8575 64.5296 33.4909 64.5296 34.1708V83.0624" stroke-width="7" stroke-linecap="round"/>
                          <path d="M44.8736 5L75.4047 24.6271C75.9771 24.9951 76.3232 25.629 76.3232 26.3095V75.7616" stroke-width="7" stroke-linecap="round"/>
                        </svg>
                td 
                  .releaselist__btn.releaselist__btn--white Временно нет в продаже

      // /releaselist

    include core/footer.pug