extends core/base.pug

block title 
  title Дискография

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .wrapper 
          .breadcrumbs__list 
            ul 
              li 
                a(href="#") Дискография
              li 
                a(href="#") Артисты
              li 
                span Paul McCartney
      // /breadcrumbs

      // discography
      .discography
        .wrapper

          h1.title 
            span.title__blue McCartney 
            | – McCartney
          .discography__row 

            .discography__left 

              .discography__slider 
                #discographySlider 
                  .swiper-wrapper 
                    .swiper-slide 
                      img(src="img/performers/img1.jpg", alt="", srcset="img/performers/img1@2x 2x")
                    .swiper-slide 
                      img(src="img/performers/img1.jpg", alt="", srcset="img/performers/img1@2x 2x")
                    .swiper-slide 
                      img(src="img/performers/img1.jpg", alt="", srcset="img/performers/img1@2x 2x")
                  .discography__controll 
                    .discography__arrow.discography__arrow--prev.swiper-button-prev
                      <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>
                    .discography__arrow.discography__arrow--next.swiper-button-next 
                      <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>

            .discography__center 

              h2.discography__title Настоящее имя: James Paul McCartney

              .discography__text 
                p 
                  | Sir James Paul McCartney CH MBE (born 18 June 1942 in Liverpool, England) is a British singer, composer/songwriter, and multi-instrumentalist most famous for being a member of 
                  a(href="#") The Beatles.
                  |  He is also a published poet, painter, philanthropist, animal rights activist, and multi-media executive/producer. Widower of 
                  a(href="#") Linda McCartney.
                  |  Stepfather of Heather McCartney (Linda Eastman's daughter from her first marriage) and biological father to Mary McCartney, Stella McCartney, James McCartney and Beatrice McCartney.

              .discography__table 
                table 
                  tr 
                    td Лейбл:
                    td 
                      a(href="#") Apple Records 
                      | – PCS 7102, 
                      a(href="#") Apple Records – 
                      | 1E 062 o 04394
                  tr
                    td Формат:
                    td 
                      a(href="#") Пластинки, 
                      | LP, Album, Gatefold
                  tr
                    td Страна:
                    td UK
                  tr
                    td Дата релиза:
                    td 17 апр. 1970 г.
                  tr
                    td Жанр:
                    td 
                      a(href="#") Rock
                  tr
                    td Стиль:
                    td 
                      a(href="#") Pop Rock

              .release__tabs.js-tabs
                .release__triggers-wrapper
                  ul.release__triggers
                    li 
                      a(href="#tab_1").release__trigger.js-tabs-trigger.active Альтернативные названия и группы
                    li 
                      a(href="#tab_2").release__trigger.js-tabs-trigger Сайты и ссылки
                    li 
                      a(href="#tab_3").release__trigger.js-tabs-trigger Вариации
                div
                  .release__content.js-tabs-content.open(data-href="#tab_1")
                    h2.discography__title Альтернативные названия:
                    .discography__links 
                      a(href="#") A. Smith (8), 
                      a(href="#") Apollo C. Vermouth, 
                      a(href="#") Bernard Webb, 
                      a(href="#") Clint Harrigan, 
                      a(href="#") Friend (15), 
                      a(href="#") Paul Ramon, 
                      a(href="#") Percy Thrillington, 
                      a(href="#") Pete Mitchell (9), 
                      a(href="#") Some Dude, Superweed 
                    h2.discography__title Участие в группах:
                    .discography__links 
                      a(href="#") Band Aid, Band Aid 20, 
                      a(href="#") Ferry Aid, George's Band, 
                      a(href="#") Johnny And The Moondogs, 
                      a(href="#") Lennon-McCartney, 
                      a(href="#") Paul &#38; Linda McCartney, 
                      a(href="#") Paul Weller &#38; Friends, 
                      a(href="#") Rockestra, 
                      a(href="#") The Beat Brothers (2), 
                      a(href="#") The Beatles, 
                      a(href="#") The Country Hams, 
                      a(href="#") The Crowd (2), 
                      a(href="#") The Fireman, The Justice Collective, 
                      a(href="#") The Quarrymen, 
                      a(href="#") The Smokin' Mojo Filters, 
                      a(href="#") Twin Freaks (3), 
                      a(href="#") Wings (2)

                  .release__content.js-tabs-content(data-href="#tab_2")
                    h2.discography__title Альтернативные названия:
                    .discography__links 
                      a(href="#") A. Smith (8), 
                      a(href="#") Apollo C. Vermouth, 
                      a(href="#") Bernard Webb, 
                      a(href="#") Clint Harrigan, 
                      a(href="#") Friend (15), 
                      a(href="#") Paul Ramon, 
                      a(href="#") Percy Thrillington, 
                      a(href="#") Pete Mitchell (9), 
                      a(href="#") Some Dude, Superweed 
                    h2.discography__title Участие в группах:
                    .discography__links 
                      a(href="#") Band Aid, Band Aid 20, 
                      a(href="#") Ferry Aid, George's Band, 
                      a(href="#") Johnny And The Moondogs, 
                      a(href="#") Lennon-McCartney, 
                      a(href="#") Paul &#38; Linda McCartney, 
                      a(href="#") Paul Weller &#38; Friends, 
                      a(href="#") Rockestra, 
                      a(href="#") The Beat Brothers (2), 
                      a(href="#") The Beatles, 
                      a(href="#") The Country Hams, 
                      a(href="#") The Crowd (2), 
                      a(href="#") The Fireman, The Justice Collective, 
                      a(href="#") The Quarrymen, 
                      a(href="#") The Smokin' Mojo Filters, 
                      a(href="#") Twin Freaks (3), 
                      a(href="#") Wings (2)

                  .release__content.js-tabs-content(data-href="#tab_3")
                    h2.discography__title Альтернативные названия:
                    .discography__links 
                      a(href="#") A. Smith (8), 
                      a(href="#") Apollo C. Vermouth, 
                      a(href="#") Bernard Webb, 
                      a(href="#") Clint Harrigan, 
                      a(href="#") Friend (15), 
                      a(href="#") Paul Ramon, 
                      a(href="#") Percy Thrillington, 
                      a(href="#") Pete Mitchell (9), 
                      a(href="#") Some Dude, Superweed 
                    h2.discography__title Участие в группах:
                    .discography__links 
                      a(href="#") Band Aid, Band Aid 20, 
                      a(href="#") Ferry Aid, George's Band, 
                      a(href="#") Johnny And The Moondogs, 
                      a(href="#") Lennon-McCartney, 
                      a(href="#") Paul &#38; Linda McCartney, 
                      a(href="#") Paul Weller &#38; Friends, 
                      a(href="#") Rockestra, 
                      a(href="#") The Beat Brothers (2), 
                      a(href="#") The Beatles, 
                      a(href="#") The Country Hams, 
                      a(href="#") The Crowd (2), 
                      a(href="#") The Fireman, The Justice Collective, 
                      a(href="#") The Quarrymen, 
                      a(href="#") The Smokin' Mojo Filters, 
                      a(href="#") Twin Freaks (3), 
                      a(href="#") Wings (2)
                      
            .discography__right 

              button(type="submit").product__btn.product__btn--blue Купить Paul McCartney
              a(href="#").product__btn.product__btn--blue В продаже 1489 шт.
              button(type="submit").product__btn.product__btn--white Продать
      // /discography

    include core/footer.pug