extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      .navpage 
        .wrapper
          h1 
          ul 
            li 
              a(href="catalog.html") Каталог

    include core/footer.pug
