extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage 
        .wrapper
          h1 Навигация по страницам
          ul 
            li 
              a(href="catalog.html") Каталог
            li 
              a(href="main.html") Главная

    include core/footer.pug
