extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage 
        .wrapper
          h1 Навигация по страницам
          ul 
            li 
              a(href="catalog.html") Каталог
            li 
              a(href="main.html") Главная
            li 
              a(href="main-login.html") Главная (авторизованный пользователь)
            li 
              a(href="modals.html") Модалки
            li 
              a(href="news.html") Новости
            li 
              a(href="product.html") Страница товара
            li 
              a(href="discography.html") Дискография

    include core/footer.pug