extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // stores
      .stores
        .wrapper 
          .title Топ магазины
          .stores__slider
            #storesSwiper
              .swiper-wrapper 
                .swiper-slide 
                  a(href="#").stores__item 
                    .stores__img 
                      img(src="img/stores/img1.png", alt="" srcset="img/stores/img1@2x.png x2")
                    .stores__title Мир Музыки
                    .stores__location Екатеринбург
                    .stores__rating 78.8%
                      img(src="img/icons/heart.png", alt="" srcset="img/icons/heart@2x.png x2")
                    .stores__btn.btn.btn--blue.btn--small Перейти в магазин
                .swiper-slide 
                  a(href="#").stores__item 
                    .stores__img 
                      img(src="img/stores/img2.png", alt="" srcset="img/stores/img2@2x.png x2")
                    .stores__title Музторг
                    .stores__location Екатеринбург
                    .stores__rating 99%
                      img(src="img/icons/heart.png", alt="" srcset="img/icons/heart@2x.png x2")
                    .stores__btn.btn.btn--blue.btn--small Перейти в магазин
                .swiper-slide 
                  a(href="#").stores__item 
                    .stores__img 
                      img(src="img/stores/img3.png", alt="" srcset="img/stores/img3@2x.png x2")
                    .stores__title Браво Мьюзик
                    .stores__location Екатеринбург
                    .stores__rating 87.2%
                      img(src="img/icons/heart.png", alt="" srcset="img/icons/heart@2x.png x2")
                    .stores__btn.btn.btn--blue.btn--small Перейти в магазин
                .swiper-slide 
                  a(href="#").stores__item 
                    .stores__img 
                      img(src="img/stores/img4.png", alt="" srcset="img/stores/img4@2x.png x2")
                    .stores__title VNL STORE
                    .stores__location Екатеринбург
                    .stores__rating 99.9%
                      img(src="img/icons/heart.png", alt="" srcset="img/icons/heart@2x.png x2")
                    .stores__btn.btn.btn--blue.btn--small Перейти в магазин
                .swiper-slide 
                  a(href="#").stores__item 
                    .stores__img 
                      img(src="img/stores/img1.png", alt="" srcset="img/stores/img1@2x.png x2")
                    .stores__title Мир Музыки
                    .stores__location Екатеринбург
                    .stores__rating 78.8%
                      img(src="img/icons/heart.png", alt="" srcset="img/icons/heart@2x.png x2")
                    .stores__btn.btn.btn--blue.btn--small Перейти в магазин
                .swiper-slide 
                  a(href="#").stores__item 
                    .stores__img 
                      img(src="img/stores/img2.png", alt="" srcset="img/stores/img2@2x.png x2")
                    .stores__title Музторг
                    .stores__location Екатеринбург
                    .stores__rating 99%
                      img(src="img/icons/heart.png", alt="" srcset="img/icons/heart@2x.png x2")
                    .stores__btn.btn.btn--blue.btn--small Перейти в магазин
                .swiper-slide 
                  a(href="#").stores__item 
                    .stores__img 
                      img(src="img/stores/img3.png", alt="" srcset="img/stores/img3@2x.png x2")
                    .stores__title Браво Мьюзик
                    .stores__location Екатеринбург
                    .stores__rating 87.2%
                      img(src="img/icons/heart.png", alt="" srcset="img/icons/heart@2x.png x2")
                    .stores__btn.btn.btn--blue.btn--small Перейти в магазин
                .swiper-slide 
                  a(href="#").stores__item 
                    .stores__img 
                      img(src="img/stores/img4.png", alt="" srcset="img/stores/img4@2x.png x2")
                    .stores__title VNL STORE
                    .stores__location Екатеринбург
                    .stores__rating 99.9%
                      img(src="img/icons/heart.png", alt="" srcset="img/icons/heart@2x.png x2")
                    .stores__btn.btn.btn--blue.btn--small Перейти в магазин
              .stores__control 
                .stores__arrow.stores__arrow--prev.swiper-button-prev
                  img(src="img/icons/arrow-slider.png", alt="", srcset="img/icons/arrow-slider@2x.png x2")
                .stores__pagination.swiper-pagination
                .stores__arrow.stores__arrow--next.swiper-button-next
                  img(src="img/icons/arrow-slider.png", alt="", srcset="img/icons/arrow-slider@2x.png x2")
      // /stores

    include core/footer.pug
