extends core/base.pug

block title 
  title Новости
block content

  .page 

    include core/header.pug

    .content 

      // news
      .news
        .wrapper
          .news__head 
            .title Новости
            .news__buttons 
              .news__buttons-row 
                a(href="#").news__btn все новости 
                a(href="#").news__btn все статьи 
          .row.gy
            .news__col-big 
              a(href="#").news__item.news__item--big 
                .news__img 
                  img(src="img/news/img1.webp", alt="", srcset="img/news/img1@2x.webp 2x")
                .news__content 
                  p Худший из лучших. Почему все так ненавидят и любят Bon Jovi?
                  .news__triangle 
            .news__col-big
              .row.gy
                .news__col-small 
                  a(href="#").news__item 
                    .news__img 
                      img(src="img/news/img2.webp", alt="", srcset="img/news/img2@2x.webp 2x")
                    .news__content 
                      p Подборка 100 редких товаров на портале
                      .news__triangle 
                .news__col-small 
                  a(href="#").news__item 
                    .news__img 
                      img(src="img/news/img3.webp", alt="", srcset="img/news/img3@2x.webp 2x")
                    .news__content 
                      p Wilco возвращается к корням на ‘Cruel Country’
                      .news__triangle 
                .news__col-small 
                  a(href="#").news__item 
                    .news__img 
                      img(src="img/news/img4.webp", alt="", srcset="img/news/img4@2x.webp 2x")
                    .news__content 
                      p Fleetwood Mac’s 50 Лучших композиций
                      .news__triangle 
                .news__col-small 
                  a(href="#").news__item 
                    .news__img 
                      img(src="img/news/img5.webp", alt="", srcset="img/news/img5@2x.webp 2x")
                    .news__content 
                      p Последний день Taylor Hawkins’ в команде Foo Fighter
                      .news__triangle 
      // /news

      // newspage
      .newspage
        .wrapper 
          .newspage__row 

            .newspage__main 
              
              .newspage__slider
                #newspageSlider
                  .swiper-wrapper 
                    .swiper-slide 
                      img(src="img/news-slider.webp", alt="", srcset="img/news-slider@2x.webp 2x")
                    .swiper-slide 
                      img(src="img/news-slider.webp", alt="", srcset="img/news-slider@2x.webp 2x")
                    .swiper-slide 
                      img(src="img/news-slider.webp", alt="", srcset="img/news-slider@2x.webp 2x")
                  .newspage__controll 
                    .newspage__arrow.newspage__arrow--prev.swiper-button-prev
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m22 11h-17.586l5.293-5.293a1 1 0 1 0 -1.414-1.414l-7 7a1 1 0 0 0 0 1.414l7 7a1 1 0 0 0 1.414-1.414l-5.293-5.293h17.586a1 1 0 0 0 0-2z" class=""></path></g></svg>
                    .newspage__pagination.swiper-pagination
                    .newspage__arrow.newspage__arrow--next.swiper-button-next
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m22 11h-17.586l5.293-5.293a1 1 0 1 0 -1.414-1.414l-7 7a1 1 0 0 0 0 1.414l7 7a1 1 0 0 0 1.414-1.414l-5.293-5.293h17.586a1 1 0 0 0 0-2z" class=""></path></g></svg>

              h1.title Группа Rammstein сняли клип про идеальную деревню

              .newspage__stickers 
                .newspage__stickers-row 
                  .newspage__sticker 02.06.2022
                  .newspage__sticker Мировые новости музыки
              
              .newspage__texblock 
                h2 Группа Rammstein представила свой новый клип Dicke Titten, действие которого происходит в «идеальной деревне».
                p Действие ролика, снятого режиссером Джорном Хайтманном, происходит в альпийской деревушке под названием Rammstein, где все жители ведут патриархальный образ жизни (охота, рубка леса, выпас скота, дойка, шитье, танцы и песни) под руководством старейшины – слепого, но энергичного старца (его играет Тилль Линдеманн). Лишь один мужчина во время деревенского праздника спускается в подпол своего дома, где красится и переодевается в женское платье, подкладывая солому в декольте.
                p Песня Dicke Titten вошла в последний альбом группы Zeit.
                p Вот что сказала о ней интервью изданию Louder профессор из Оксфорда, специалист по современной немецкой литературе Карен Лидер:
                p — Девушкам не нужно быть богатыми или умными, говорится в тексте, им просто нужны большие сиськи. Образ стареющего мужчины, теряющего надежду и волосы и мечтающего о массивных молочных железах, передан с ироничным пафосом. Но странность этой песни заключается в том, что веселая чушь сочетается в ней с экскурсами в любимых Rammstein Вагнера или Готфрида Бенна и застенчиво ироничными рифмами.

              .newspage__video.js-youtube#thJgU9jkdU4
                .video__wrapper

            .newspage__sidebar 

              .newspage__newsblock 

                .newspage__switch
                  a(href="#").newspage__switch-btn.active Новости
                  a(href="#").newspage__switch-btn Статьи

                .newspage__items 
                  .row 
                    .newspage__items-col 
                      a(href="#").newspage__item 
                        .newspage__item-img 
                          img(src="img/news/img5.webp", alt="", srcset="img/news/img5@2x.webp 2x")
                        .newspage__item-title Последний день Taylor Hawkins’ в команде Foo Fighter
                    .newspage__items-col 
                      a(href="#").newspage__item 
                        .newspage__item-img 
                          img(src="img/news/img4.webp", alt="", srcset="img/news/img4@2x.webp 2x")
                        .newspage__item-title Fleetwood Mac’s 50 Лучших композиций
                    .newspage__items-col 
                      a(href="#").newspage__item 
                        .newspage__item-img 
                          img(src="img/news/img2.webp", alt="", srcset="img/news/img2@2x.webp 2x")
                        .newspage__item-title Подборка 100 редких товаров на портале

                  a(href="#").newspage__allnews Все новости

              .newspage__buttons 
                .newspage__buttons-row 
                  a(href="#").newspage__button Подписаться на новости
                  a(href="#").newspage__button 
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                      <path d="M467,76H45C20.137,76,0,96.262,0,121v270c0,24.885,20.285,45,45,45h422c24.655,0,45-20.03,45-45V121    C512,96.306,491.943,76,467,76z M460.698,106c-9.194,9.145-167.415,166.533-172.878,171.967c-8.5,8.5-19.8,13.18-31.82,13.18    s-23.32-4.681-31.848-13.208C220.478,274.284,64.003,118.634,51.302,106H460.698z M30,384.894V127.125L159.638,256.08L30,384.894z     M51.321,406l129.587-128.763l22.059,21.943c14.166,14.166,33,21.967,53.033,21.967c20.033,0,38.867-7.801,53.005-21.939    l22.087-21.971L460.679,406H51.321z M482,384.894L352.362,256.08L482,127.125V384.894z"></path>
                    </svg>
                    | Подписаться на рассылку
                  a(href="#").newspage__button 
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512.00578" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><path xmlns="http://www.w3.org/2000/svg" d="m507.523438 148.890625-138.667969-144c-4.523438-4.691406-11.457031-6.164063-17.492188-3.734375-6.058593 2.453125-10.027343 8.320312-10.027343 14.847656v69.335938h-5.332032c-114.6875 0-208 93.3125-208 208v32c0 7.421875 5.226563 13.609375 12.457032 15.296875 1.175781.296875 2.347656.425781 3.519531.425781 6.039062 0 11.820312-3.542969 14.613281-9.109375 29.996094-60.011719 90.304688-97.28125 157.398438-97.28125h25.34375v69.332031c0 6.53125 3.96875 12.398438 10.027343 14.828125 5.996094 2.453125 12.96875.960938 17.492188-3.734375l138.667969-144c5.972656-6.207031 5.972656-15.976562 0-22.207031zm0 0"></path><path xmlns="http://www.w3.org/2000/svg" d="m448.003906 512.003906h-384c-35.285156 0-63.99999975-28.710937-63.99999975-64v-298.664062c0-35.285156 28.71484375-64 63.99999975-64h64c11.796875 0 21.332032 9.535156 21.332032 21.332031s-9.535157 21.332031-21.332032 21.332031h-64c-11.777344 0-21.335937 9.558594-21.335937 21.335938v298.664062c0 11.777344 9.558593 21.335938 21.335937 21.335938h384c11.773438 0 21.332032-9.558594 21.332032-21.335938v-170.664062c0-11.796875 9.535156-21.335938 21.332031-21.335938 11.800781 0 21.335937 9.539063 21.335937 21.335938v170.664062c0 35.289063-28.714844 64-64 64zm0 0"></path></svg>
                    | Поделиться

      // /newspage

    include core/footer.pug