extends core/base.pug

block title 
  title Навигация по страницам

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .wrapper 
          .breadcrumbs__list 
            ul 
              li 
                a(href="#") В продаже
              li 
                a(href="#") Вся Россия
              li 
                span Винил
      // /breadcrumbs

      // product
      .product
        .wrapper 
          h1.title Modern Talking - 1985 "The 2nd Album" Sonderauflage

          .product__row 
          
            .product__head 
              .product__head-items 
                a(href="#").product__head-item Добавить в избранное
                a(href="#").product__head-item Хотел бы приобрести
                a(href="#").product__head-item Этот товар у меня в коллекции
              .product__statistics 
                .product__statistics-items
                  .product__statistics-item 141 Имеют
                  .product__statistics-item 21 Хотят
                .product__statistics-date 22.06.2022 в 07:32

            .product__plug

          .product__row 

            .product__main 

              .product__rowin
                
                .product__left 

                  .product__slider 
                    #productSlider
                      .swiper-wrapper 
                        .swiper-slide 
                          a(href="img/product@2x.jpg" data-fancybox="productGallery") 
                            img(src="img/product.jpg", alt="", srcset="img/product@2x.jpg 2x")
                        .swiper-slide 
                          a(href="img/product@2x.jpg" data-fancybox="productGallery") 
                            img(src="img/product.jpg", alt="", srcset="img/product@2x.jpg 2x")
                        .swiper-slide 
                          a(href="img/product@2x.jpg" data-fancybox="productGallery") 
                            img(src="img/product.jpg", alt="", srcset="img/product@2x.jpg 2x")
                      .product__controll 
                        .product__arrow.product__arrow--prev.swiper-button-prev
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m22 11h-17.586l5.293-5.293a1 1 0 1 0 -1.414-1.414l-7 7a1 1 0 0 0 0 1.414l7 7a1 1 0 0 0 1.414-1.414l-5.293-5.293h17.586a1 1 0 0 0 0-2z" class=""></path></g></svg>
                        .product__pagination.swiper-pagination
                        .product__arrow.product__arrow--next.swiper-button-next
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m22 11h-17.586l5.293-5.293a1 1 0 1 0 -1.414-1.414l-7 7a1 1 0 0 0 0 1.414l7 7a1 1 0 0 0 1.414-1.414l-5.293-5.293h17.586a1 1 0 0 0 0-2z" class=""></path></g></svg>

                  ul.product__list 
                    li Лейбл: 
                      span Sony Music TV, Columbia
                    li Каталожный номер: 
                      span STVCD129
                    li Состояние медиа: 
                      span Very Good Plus (VG+)
                    li Состояние конверта: 
                      span Good Plus (G+)
                  
                  .product__text 
                    p Виниловая пластинка (LP) - MODERN TALKING -1985 ''Let's Talk About Love - The 2nd Album'' LP, Album, Sonderauflage Sonocord

                    p Лейбл: Hansa (36 076-8) -Germany <br>Состояние: обложка Vg++ (небольшое замятие угла) / пластинка Vg++ (визуально - Vg / ст.А-В - небольшая "волна" - не влияет на воспроизведение).

                .product__right 

                  form(action="#").product__buy 
                    .product__price 2 300
                      span.poduct__rub &nbsp;&#8381;
                    
                    .product__delivery 
                      img(src="img/icons/car.svg", alt="")
                      | 350 
                      .product__rub &nbsp;&#8381;
                      span (из Екатеринбурга)

                    button(type="submit").product__btn.product__btn--blue Купить
                    a(href="#").product__btn.product__btn--white Связаться с продавцом

                  .product__studio 
                    .product__studio-name 
                      a(href="#") JR Studio
                    .product__points 
                      .product__percent 
                        img(src="img/icons/heart.webp", alt="" srcset="heart@2x.webp 2x")
                        | 92.8%
                      a(href="#").product__count 208 оценок
                    .product__text Москва, Россия

                  form(action="#").product__auction 
                    .product__auction-price  
                      img(src="img/icons/auction.svg", alt="")
                      | 590
                      span.product__rub &nbsp;&#8381;
                    .product__delivery 
                      img(src="img/icons/car.svg", alt="")
                      | 350 
                      .product__rub &nbsp;&#8381;
                      span (из Екатеринбурга)
                    .product__date 03 дн. 16:32:59
                    .product__input
                      input(type="text", name="" placeholder="Ваша ставка")
                    .product__clarification Введите не менее 600 ₽
                    button(type="submit").product__btn.product__btn--violet
                      img(src="img/icons/lightning.webp", alt="" srcset="lightning@2x.webp 2x")
                      | Сделать ставку
                    button(type="submit").product__btn.product__btn--blue Купить сразу за 2 300 ₽
                    a(href="#").product__btn.product__btn--white Связаться с продавцом

              // release
              .release

                .release__head 
                  h2.subtitle Информация о релизе
                  a(href="#").release__btn Посмотреть релиз в дискографии

                .release__tabs.js-tabs
                  .release__triggers-wrapper
                    ul.release__triggers
                      li 
                        a(href="#tab_1").release__trigger.js-tabs-trigger.active Фото и треклист
                      li 
                        a(href="#tab_2").release__trigger.js-tabs-trigger Компании и участники записи
                      li 
                        a(href="#tab_3").release__trigger.js-tabs-trigger Штрих-коды и другие идентификаторы
                  div
                    .release__content.js-tabs-content.open(data-href="#tab_1")

                      .release__photo-and-playlist
                        .release__slider 
                          #releaseSlder 
                            .swiper-wrapper 
                              .swiper-slide 
                                img(src="img/albums/img5.jpg", alt="", srcset="img/albums/img5@2x.jpg 2x")
                              .swiper-slide 
                                img(src="img/albums/img3.jpg", alt="", srcset="img/albums/img3@2x.jpg 2x")
                              .swiper-slide 
                                img(src="img/albums/img5.jpg", alt="", srcset="img/albums/img5@2x.jpg 2x")
                            .release__controll 
                              .release__arrow.release__arrow--prev.swiper-button-prev
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>
                              .release__arrow.release__arrow--next.swiper-button-next 
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>

                        .release__playlist 
                          .release__playlist-item 
                            .release__playlist-num A1
                            .release__playlist-name Cheri Cheri Lady
                            .release__playlist-time 3:45
                          .release__playlist-item 
                            .release__playlist-num A2
                            .release__playlist-name With A Little Love
                            .release__playlist-time 3:33
                          .release__playlist-item 
                            .release__playlist-num A3
                            .release__playlist-name Wild Wild Water
                            .release__playlist-time 4:17
                          .release__playlist-item 
                            .release__playlist-num A4
                            .release__playlist-name You're The Lady Of My Heart
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num A5
                            .release__playlist-name Just Like An Angel
                            .release__playlist-time 3:13
                          .release__playlist-item 
                            .release__playlist-num B1
                            .release__playlist-name Heaven Will Know
                            .release__playlist-time 4:01
                          .release__playlist-item 
                            .release__playlist-num B2
                            .release__playlist-name Love Don't Live Here Anymore
                            .release__playlist-time 4:20
                          .release__playlist-item 
                            .release__playlist-num B3
                            .release__playlist-name Why Did You Do It Just Tonight
                            .release__playlist-time 4:21
                          .release__playlist-item 
                            .release__playlist-num B4
                            .release__playlist-name Don't Give Up
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num B5
                            .release__playlist-name Let's Talk About Love
                            .release__playlist-time 3:53

                    .release__content.js-tabs-content(data-href="#tab_2")
                      .release__photo-and-playlist
                        .release__slider 
                          #releaseSlder 
                            .swiper-wrapper 
                              .swiper-slide 
                                img(src="img/albums/img5.jpg", alt="", srcset="img/albums/img5@2x.jpg 2x")
                              .swiper-slide 
                                img(src="img/albums/img3.jpg", alt="", srcset="img/albums/img3@2x.jpg 2x")
                              .swiper-slide 
                                img(src="img/albums/img5.jpg", alt="", srcset="img/albums/img5@2x.jpg 2x")
                            .release__controll 
                              .release__arrow.release__arrow--prev.swiper-button-prev
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>
                              .release__arrow.release__arrow--next.swiper-button-next 
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>

                        .release__playlist 
                          .release__playlist-item 
                            .release__playlist-num A1
                            .release__playlist-name Cheri Cheri Lady
                            .release__playlist-time 3:45
                          .release__playlist-item 
                            .release__playlist-num A2		
                            .release__playlist-name With A Little Love
                            .release__playlist-time 3:33
                          .release__playlist-item 
                            .release__playlist-num A3		
                            .release__playlist-name Wild Wild Water
                            .release__playlist-time 4:17
                          .release__playlist-item 
                            .release__playlist-num A4		
                            .release__playlist-name You're The Lady Of My Heart
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num A5		
                            .release__playlist-name Just Like An Angel
                            .release__playlist-time 3:13
                          .release__playlist-item 
                            .release__playlist-num B1		
                            .release__playlist-name Heaven Will Know
                            .release__playlist-time 4:01
                          .release__playlist-item 
                            .release__playlist-num B2		
                            .release__playlist-name Love Don't Live Here Anymore
                            .release__playlist-time 4:20
                          .release__playlist-item 
                            .release__playlist-num B3		
                            .release__playlist-name Why Did You Do It Just Tonight
                            .release__playlist-time 4:21
                          .release__playlist-item 
                            .release__playlist-num B4		
                            .release__playlist-name Don't Give Up
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num B5		
                            .release__playlist-name Let's Talk About Love
                            .release__playlist-time 3:53
                          .release__playlist-item 
                            .release__playlist-num B3		
                            .release__playlist-name Why Did You Do It Just Tonight
                            .release__playlist-time 4:21
                          .release__playlist-item 
                            .release__playlist-num B4		
                            .release__playlist-name Don't Give Up
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num B5		
                            .release__playlist-name Let's Talk About Love
                            .release__playlist-time 3:53
                    .release__content.js-tabs-content(data-href="#tab_3")
                      .release__photo-and-playlist
                        .release__slider 
                          #releaseSlder 
                            .swiper-wrapper 
                              .swiper-slide 
                                img(src="img/albums/img5.jpg", alt="", srcset="img/albums/img5@2x.jpg 2x")
                              .swiper-slide 
                                img(src="img/albums/img3.jpg", alt="", srcset="img/albums/img3@2x.jpg 2x")
                              .swiper-slide 
                                img(src="img/albums/img5.jpg", alt="", srcset="img/albums/img5@2x.jpg 2x")
                            .release__controll 
                              .release__arrow.release__arrow--prev.swiper-button-prev
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>
                              .release__arrow.release__arrow--next.swiper-button-next 
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>

                        .release__playlist 
                          .release__playlist-item 
                            .release__playlist-num A1
                            .release__playlist-name Cheri Cheri Lady
                            .release__playlist-time 3:45
                          .release__playlist-item 
                            .release__playlist-num A2		
                            .release__playlist-name With A Little Love
                            .release__playlist-time 3:33
                          .release__playlist-item 
                            .release__playlist-num A3		
                            .release__playlist-name Wild Wild Water
                            .release__playlist-time 4:17
                          .release__playlist-item 
                            .release__playlist-num A4		
                            .release__playlist-name You're The Lady Of My Heart
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num A5		
                            .release__playlist-name Just Like An Angel
                            .release__playlist-time 3:13
                
              // /release

              // items 
              .items 
                 .subtitle Похожие товары
                 .row.gy
                    .items__col 
                      a(href="#").items__item 
                        .items__img 
                          img(src="img/albums/img1.jpg", alt="", srcset="img/albums/img1@2x.jpg 2x")
                        .items__performer Modern Talking
                        .items__name Various - The Classic Chillout Album 2 (2xCD, Comp)
                    .items__col 
                      a(href="#").items__item 
                        .items__img 
                          img(src="img/albums/img2.jpg", alt="", srcset="img/albums/img2@2x.jpg 2x")
                        .items__performer Modern Talking
                        .items__name Modern Talking - The 1st Album (LP, Album)
                    .items__col 
                      a(href="#").items__item 
                        .items__img 
                          img(src="img/albums/img3.jpg", alt="", srcset="img/albums/img3@2x.jpg 2x")
                        .items__performer Modern Talking
                        .items__name Various - The Classic Chillout Album 2 (2xCD, Comp)
                    .items__col 
                      a(href="#").items__item 
                        .items__img 
                          img(src="img/albums/img4.jpg", alt="", srcset="img/albums/img4@2x.jpg 2x")
                        .items__performer Modern Talking
                        .items__name Modern Talking - The 1st Album (LP, Album)
                    .items__col 
                      a(href="#").items__item 
                        .items__img 
                          img(src="img/albums/img5.jpg", alt="", srcset="img/albums/img5@2x.jpg 2x")
                        .items__performer Modern Talking
                        .items__name Modern Talking - The 1st Album (LP, Album)
              // /items
            
            .product__sidebar 
      // /product

    include core/footer.pug