extends core/base.pug

block title 
  title Страница товара

block content

  .page 

    include core/header.pug

    .content 

      // breadcrumbs
      .breadcrumbs
        .wrapper 
          .breadcrumbs__list 
            ul 
              li 
                a(href="#") В продаже
              li 
                a(href="#") Вся Россия
              li 
                span Винил
      // /breadcrumbs

      // product
      .product
        .wrapper 
          h1.title Modern Talking - 1985 "The 2nd Album" Sonderauflage

          .product__row 
          
            .product__head 
              .product__head-items 
                a(href="#").product__head-item.active
                  .product__head-item-icon
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512"><path xmlns="http://www.w3.org/2000/svg" d="m256 455.515625c-7.289062 0-14.316406-2.640625-19.792969-7.4375-20.683593-18.085937-40.625-35.082031-58.21875-50.074219l-.089843-.078125c-51.582032-43.957031-96.125-81.917969-127.117188-119.3125-34.644531-41.804687-50.78125-81.441406-50.78125-124.742187 0-42.070313 14.425781-80.882813 40.617188-109.292969 26.503906-28.746094 62.871093-44.578125 102.414062-44.578125 29.554688 0 56.621094 9.34375 80.445312 27.769531 12.023438 9.300781 22.921876 20.683594 32.523438 33.960938 9.605469-13.277344 20.5-24.660157 32.527344-33.960938 23.824218-18.425781 50.890625-27.769531 80.445312-27.769531 39.539063 0 75.910156 15.832031 102.414063 44.578125 26.191406 28.410156 40.613281 67.222656 40.613281 109.292969 0 43.300781-16.132812 82.9375-50.777344 124.738281-30.992187 37.398437-75.53125 75.355469-127.105468 119.308594-17.625 15.015625-37.597657 32.039062-58.328126 50.167969-5.472656 4.789062-12.503906 7.429687-19.789062 7.429687zm-112.96875-425.523437c-31.066406 0-59.605469 12.398437-80.367188 34.914062-21.070312 22.855469-32.675781 54.449219-32.675781 88.964844 0 36.417968 13.535157 68.988281 43.882813 105.605468 29.332031 35.394532 72.960937 72.574219 123.476562 115.625l.09375.078126c17.660156 15.050781 37.679688 32.113281 58.515625 50.332031 20.960938-18.253907 41.011719-35.34375 58.707031-50.417969 50.511719-43.050781 94.136719-80.222656 123.46875-115.617188 30.34375-36.617187 43.878907-69.1875 43.878907-105.605468 0-34.515625-11.605469-66.109375-32.675781-88.964844-20.757813-22.515625-49.300782-34.914062-80.363282-34.914062-22.757812 0-43.652344 7.234374-62.101562 21.5-16.441406 12.71875-27.894532 28.796874-34.609375 40.046874-3.453125 5.785157-9.53125 9.238282-16.261719 9.238282s-12.808594-3.453125-16.261719-9.238282c-6.710937-11.25-18.164062-27.328124-34.609375-40.046874-18.449218-14.265626-39.34375-21.5-62.097656-21.5zm0 0"></path></svg>
                  | Добавить в избранное
                a(href="#").product__head-item 
                  .product__head-item-icon
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.422 68.422"><path d="M59.571 45.188l-1.414-12.206c-.078-10.371-6.919-19.511-16.637-22.629V7.308C41.52 3.279 38.242 0 34.212 0s-7.309 3.278-7.309 7.308v3.045c-9.717 3.118-16.559 12.258-16.637 22.629L8.853 45.185a7.942 7.942 0 00-3.045 6.284v.479c0 5.963 5.834 5.963 8.03 5.963h8.064c.935 5.951 5.875 10.511 11.827 10.511s10.892-4.56 11.827-10.511h9.026c2.196 0 8.031 0 8.031-5.963v-.479a7.935 7.935 0 00-3.042-6.281zm-25.84 17.234c-2.318 0-4.334-1.442-5.333-3.548h10.665c-.998 2.106-3.014 3.548-5.332 3.548zm22.884-10.613c-.405.068-1.085.103-2.031.103H13.839c-.946 0-1.625-.034-2.03-.103v-.339c0-.93.601-1.55 1.163-1.82l1.489-.717 1.787-15.426.02-.345c0-8.451 5.994-15.838 14.252-17.565l2.386-.499V7.309a1.31 1.31 0 012.617 0v7.788l2.386.499c8.258 1.727 14.252 9.115 14.252 17.565l1.807 15.772 1.488.718c.562.271 1.162.891 1.162 1.818v.34h-.003z" xmlns="http://www.w3.org/2000/svg"/></svg>
                  | Хотел бы приобрести
                a(href="#").product__head-item.product__head-item--stroke
                  .product__head-item-icon
                    <svg viewBox="0 0 83 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18.4784 19.6016L50.6754 39.7929C51.2587 40.1587 51.6128 40.7988 51.6128 41.4873V90.3632M5.95347 78.0318L33.9647 95.2317C35.2973 96.05 37.0112 95.0911 37.0112 93.5274V47.1157C37.0112 46.4204 36.6502 45.7751 36.0577 45.4113L8.04653 28.2115C6.71393 27.3932 5 28.352 5 29.9158V76.3275C5 77.0227 5.36103 77.6681 5.95347 78.0318Z" stroke-width="7" stroke-linecap="round"/>
                      <path d="M31.3952 11.7392L63.6125 32.4894C64.1842 32.8575 64.5296 33.4909 64.5296 34.1708V83.0624" stroke-width="7" stroke-linecap="round"/>
                      <path d="M44.8736 5L75.4047 24.6271C75.9771 24.9951 76.3232 25.629 76.3232 26.3095V75.7616" stroke-width="7" stroke-linecap="round"/>
                    </svg>
                  | Этот товар у меня в коллекции
              .product__statistics 
                .product__statistics-items
                  .product__statistics-item 
                    img(src="img/icons/collection.svg", alt="")
                    | 141 Имеют
                  .product__statistics-item 
                    img(src="img/icons/bell.svg", alt="")
                    | 21 Хотят
                .product__statistics-date 22.06.2022 в 07:32

            .product__plug

          .product__row 

            .product__main 

              .product__rowin
                
                .product__left 

                  .product__slider 
                    #productSlider
                      .swiper-wrapper 
                        .swiper-slide 
                          a(href="img/product@2x.webp" data-fancybox="productGallery") 
                            img(src="img/product.webp", alt="", srcset="img/product@2x.webp 2x")
                        .swiper-slide 
                          a(href="img/product@2x.webp" data-fancybox="productGallery") 
                            img(src="img/product.webp", alt="", srcset="img/product@2x.webp 2x")
                        .swiper-slide 
                          a(href="img/product@2x.webp" data-fancybox="productGallery") 
                            img(src="img/product.webp", alt="", srcset="img/product@2x.webp 2x")
                      .product__controll 
                        .product__arrow.product__arrow--prev.swiper-button-prev
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m22 11h-17.586l5.293-5.293a1 1 0 1 0 -1.414-1.414l-7 7a1 1 0 0 0 0 1.414l7 7a1 1 0 0 0 1.414-1.414l-5.293-5.293h17.586a1 1 0 0 0 0-2z" class=""></path></g></svg>
                        .product__pagination.swiper-pagination
                        .product__arrow.product__arrow--next.swiper-button-next
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m22 11h-17.586l5.293-5.293a1 1 0 1 0 -1.414-1.414l-7 7a1 1 0 0 0 0 1.414l7 7a1 1 0 0 0 1.414-1.414l-5.293-5.293h17.586a1 1 0 0 0 0-2z" class=""></path></g></svg>
                    img(src="img/icons/zoomicon.svg", alt="").product__iconzoom

                  ul.product__list 
                    li Лейбл: 
                      span Sony Music TV, Columbia
                    li Каталожный номер: 
                      span STVCD129
                    li Состояние медиа: 
                      span Very Good Plus (VG+)
                    li Состояние конверта: 
                      span Good Plus (G+)
                  
                  .product__text 
                    p Виниловая пластинка (LP) - MODERN TALKING -1985 ''Let's Talk About Love - The 2nd Album'' LP, Album, Sonderauflage Sonocord

                    p Лейбл: Hansa (36 076-8) -Germany <br>Состояние: обложка Vg++ (небольшое замятие угла) / пластинка Vg++ (визуально - Vg / ст.А-В - небольшая "волна" - не влияет на воспроизведение).

                .product__right 

                  form(action="#").product__buy 
                    .product__price 2 300
                      span.poduct__rub &nbsp;&#8381;
                    
                    .product__delivery 
                      img(src="img/icons/car.svg", alt="")
                      | 350 
                      .product__rub &nbsp;&#8381;
                      span (из Екатеринбурга)

                    button(type="submit").product__btn.product__btn--blue Купить
                    a(href="#").product__btn.product__btn--white Связаться с продавцом

                  .product__studio 
                    .product__studio-name 
                      a(href="#") JR Studio
                    .product__points 
                      .product__percent 
                        img(src="img/icons/heart.webp", alt="" srcset="heart@2x.webp 2x")
                        | 92.8%
                      a(href="#").product__count 208 оценок
                    .product__text Москва, Россия

                  form(action="#").product__auction 
                    .product__auction-price  
                      img(src="img/icons/auction.svg", alt="")
                      | 590
                      span.product__rub &nbsp;&#8381;
                    .product__delivery 
                      img(src="img/icons/car.svg", alt="")
                      | 350 
                      .product__rub &nbsp;&#8381;
                      span (из Екатеринбурга)
                    .product__date 03 дн. 16:32:59
                    .product__input
                      input(type="text", name="#" placeholder="Ваша ставка")
                    .product__clarification Введите не менее 600 ₽
                    button(type="submit").product__btn.product__btn--violet
                      img(src="img/icons/lightning.webp", alt="" srcset="lightning@2x.webp 2x")
                      | Сделать ставку
                    button(type="submit").product__btn.product__btn--blue Купить сразу за 2 300 ₽
                    a(href="#").product__btn.product__btn--white Связаться с продавцом

              // release
              .release

                .release__head 
                  h2.subtitle Информация о релизе
                  a(href="#").release__btn Посмотреть релиз в дискографии

                .release__tabs.js-tabs
                  ul.release__triggers
                    li 
                      a(href="#tab_1").release__trigger.js-tabs-trigger.active Фото и треклист
                    li 
                      a(href="#tab_2").release__trigger.js-tabs-trigger Компании и участники записи
                    li 
                      a(href="#tab_3").release__trigger.js-tabs-trigger Штрих-коды и другие идентификаторы
                  div
                    .release__content.js-tabs-content.open(data-href="#tab_1")

                      .release__photo-and-playlist
                        .release__slider 
                          #releaseSlder0
                            .swiper-wrapper 
                              .swiper-slide 
                                img(src="img/albums/img5.webp", alt="", srcset="img/albums/img5@2x.webp 2x")
                              .swiper-slide 
                                img(src="img/albums/img3.webp", alt="", srcset="img/albums/img3@2x.webp 2x")
                              .swiper-slide 
                                img(src="img/albums/img5.webp", alt="", srcset="img/albums/img5@2x.webp 2x")
                            .release__controll 
                              .release__arrow.release__arrow--prev.swiper-button-prev.swiper-button-prev0
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>
                              .release__arrow.release__arrow--next.swiper-button-next.swiper-button-next0
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>

                        .release__playlist 
                          .release__playlist-item 
                            .release__playlist-num A1
                            .release__playlist-name Cheri Cheri Lady
                            .release__playlist-time 3:45
                          .release__playlist-item 
                            .release__playlist-num A2
                            .release__playlist-name With A Little Love
                            .release__playlist-time 3:33
                          .release__playlist-item 
                            .release__playlist-num A3
                            .release__playlist-name Wild Wild Water
                            .release__playlist-time 4:17
                          .release__playlist-item 
                            .release__playlist-num A4
                            .release__playlist-name You're The Lady Of My Heart
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num A5
                            .release__playlist-name Just Like An Angel
                            .release__playlist-time 3:13
                          .release__playlist-item 
                            .release__playlist-num B1
                            .release__playlist-name Heaven Will Know
                            .release__playlist-time 4:01
                          .release__playlist-item 
                            .release__playlist-num B2
                            .release__playlist-name Love Don't Live Here Anymore
                            .release__playlist-time 4:20
                          .release__playlist-item 
                            .release__playlist-num B3
                            .release__playlist-name Why Did You Do It Just Tonight
                            .release__playlist-time 4:21
                          .release__playlist-item 
                            .release__playlist-num B4
                            .release__playlist-name Don't Give Up
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num B5
                            .release__playlist-name Let's Talk About Love
                            .release__playlist-time 3:53

                    .release__content.js-tabs-content(data-href="#tab_2")
                      .release__photo-and-playlist
                        .release__slider 
                          #releaseSlder1 
                            .swiper-wrapper 
                              .swiper-slide 
                                img(src="img/albums/img5.webp", alt="", srcset="img/albums/img5@2x.webp 2x")
                              .swiper-slide 
                                img(src="img/albums/img3.webp", alt="", srcset="img/albums/img3@2x.webp 2x")
                              .swiper-slide 
                                img(src="img/albums/img5.webp", alt="", srcset="img/albums/img5@2x.webp 2x")
                            .release__controll 
                              .release__arrow.release__arrow--prev.swiper-button-prev.swiper-button-prev1
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>
                              .release__arrow.release__arrow--next.swiper-button-next.swiper-button-next1
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>

                        .release__playlist 
                          .release__playlist-item 
                            .release__playlist-num A1
                            .release__playlist-name Cheri Cheri Lady
                            .release__playlist-time 3:45
                          .release__playlist-item 
                            .release__playlist-num A2		
                            .release__playlist-name With A Little Love
                            .release__playlist-time 3:33
                          .release__playlist-item 
                            .release__playlist-num A3		
                            .release__playlist-name Wild Wild Water
                            .release__playlist-time 4:17
                          .release__playlist-item 
                            .release__playlist-num A4		
                            .release__playlist-name You're The Lady Of My Heart
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num A5		
                            .release__playlist-name Just Like An Angel
                            .release__playlist-time 3:13
                          .release__playlist-item 
                            .release__playlist-num B1		
                            .release__playlist-name Heaven Will Know
                            .release__playlist-time 4:01
                          .release__playlist-item 
                            .release__playlist-num B2		
                            .release__playlist-name Love Don't Live Here Anymore
                            .release__playlist-time 4:20
                          .release__playlist-item 
                            .release__playlist-num B3		
                            .release__playlist-name Why Did You Do It Just Tonight
                            .release__playlist-time 4:21
                          .release__playlist-item 
                            .release__playlist-num B4		
                            .release__playlist-name Don't Give Up
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num B5		
                            .release__playlist-name Let's Talk About Love
                            .release__playlist-time 3:53
                          .release__playlist-item 
                            .release__playlist-num B3		
                            .release__playlist-name Why Did You Do It Just Tonight
                            .release__playlist-time 4:21
                          .release__playlist-item 
                            .release__playlist-num B4		
                            .release__playlist-name Don't Give Up
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num B5		
                            .release__playlist-name Let's Talk About Love
                            .release__playlist-time 3:53
                    .release__content.js-tabs-content(data-href="#tab_3")
                      .release__photo-and-playlist
                        .release__slider 
                          #releaseSlder2
                            .swiper-wrapper 
                              .swiper-slide 
                                img(src="img/albums/img5.webp", alt="", srcset="img/albums/img5@2x.webp 2x")
                              .swiper-slide 
                                img(src="img/albums/img3.webp", alt="", srcset="img/albums/img3@2x.webp 2x")
                              .swiper-slide 
                                img(src="img/albums/img5.webp", alt="", srcset="img/albums/img5@2x.webp 2x")
                            .release__controll 
                              .release__arrow.release__arrow--prev.swiper-button-prev.swiper-button-prev2
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>
                              .release__arrow.release__arrow--next.swiper-button-next.swiper-button-next2
                                <svg width="10" height="5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.22.191A.813.813 0 01.752 0c.199 0 .39.069.531.191l3.722 3.233L8.725.19a.816.816 0 01.53-.183c.197.001.385.07.525.191s.218.285.22.456a.61.61 0 01-.211.46L5.536 4.809A.813.813 0 015.005 5a.815.815 0 01-.532-.191L.22 1.115A.613.613 0 010 .653C0 .48.08.313.22.19z"/></svg>

                        .release__playlist 
                          .release__playlist-item 
                            .release__playlist-num A1
                            .release__playlist-name Cheri Cheri Lady
                            .release__playlist-time 3:45
                          .release__playlist-item 
                            .release__playlist-num A2		
                            .release__playlist-name With A Little Love
                            .release__playlist-time 3:33
                          .release__playlist-item 
                            .release__playlist-num A3		
                            .release__playlist-name Wild Wild Water
                            .release__playlist-time 4:17
                          .release__playlist-item 
                            .release__playlist-num A4		
                            .release__playlist-name You're The Lady Of My Heart
                            .release__playlist-time 3:18
                          .release__playlist-item 
                            .release__playlist-num A5		
                            .release__playlist-name Just Like An Angel
                            .release__playlist-time 3:13
                
              // /release

              // items 
              .items 
                 .subtitle Похожие товары
                 .row.gy
                    .items__col 
                      a(href="#").items__item 
                        .items__img 
                          img(src="img/albums/img1.webp", alt="", srcset="img/albums/img1@2x.webp 2x")
                        .items__performer Modern Talking
                        .items__name Various - The Classic Chillout Album 2 (2xCD, Comp)
                    .items__col 
                      a(href="#").items__item 
                        .items__img 
                          img(src="img/albums/img2.webp", alt="", srcset="img/albums/img2@2x.webp 2x")
                        .items__performer Modern Talking
                        .items__name Modern Talking - The 1st Album (LP, Album)
                    .items__col 
                      a(href="#").items__item 
                        .items__img 
                          img(src="img/albums/img3.webp", alt="", srcset="img/albums/img3@2x.webp 2x")
                        .items__performer Modern Talking
                        .items__name Various - The Classic Chillout Album 2 (2xCD, Comp)
                    .items__col 
                      a(href="#").items__item 
                        .items__img 
                          img(src="img/albums/img4.webp", alt="", srcset="img/albums/img4@2x.webp 2x")
                        .items__performer Modern Talking
                        .items__name Modern Talking - The 1st Album (LP, Album)
                    .items__col 
                      a(href="#").items__item 
                        .items__img 
                          img(src="img/albums/img5.webp", alt="", srcset="img/albums/img5@2x.webp 2x")
                        .items__performer Modern Talking
                        .items__name Modern Talking - The 1st Album (LP, Album)
              // /items
            
            .product__sidebar 
      // /product

    include core/footer.pug