/* btn */
.btn { 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 22px;
  border-radius: 50px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  text-align: center;
  img {
    margin-right: 10px;
  }
  &--small {
    padding: 10px 20px;
  }
  &--yellow {
    background-color: $yellow;
    color: #000;
    &:hover {
      background-color: $yellowHov;
      box-shadow: 0 0 10px rgba(255,252,45, 0.5);
    }
  }
  &--blue {
    background-color: $blue;
    color: #fff;
    &:hover {
      background-color: #42A0F9;
    }
  }
  &--white {
    background-color: #fff;
    color: $blue;
    border: 2px solid $blue;
    &:hover {
      background-color:$blue;
      color: #fff;
    }
  }
  &--popup {
    border: solid 2px #dddfe0;
    background-image: linear-gradient(to bottom, #fff, #f0f0f0);
    background-color: #fff;
    &:hover {
      background-image: none;
    }
  }
  @media (max-width: $break_sm) {
    font-size: 16px;
  }
}
/* /btn */