/* catalog */
.catalog { 
  &__head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__sort {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 10px 0;
  }
  &__sort-icon {
    width: 20px;
    margin-left: 10px;
    svg {
      display: block;
      fill: #DDDFE0;
      transition: .1s;
    }
    label {
      display: block;
      cursor: pointer;
      user-select: none;
    }
    input {
      position: absolute;
      visibility: hidden;
      &:checked {
        ~ label {
          svg {
            fill: #428BF9;
          }
        }
      }
    }
  }
  &__sort-select {
    margin-left: 16px;
    position: relative;
    select {
      height: 34px;
      padding: 0 30px 0 10px;
      border-radius: 20px;
      background-color: #fff;
      border: solid 1px #dddfe0;
      outline: none;
      font-size: 14px;
      cursor: pointer;
      appearance: none;
      &::-ms-expand {
      display: none;
      }
    }
    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 5px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.220115 0.1912C0.361098 0.0687746 0.552285 0 0.751634 0C0.950983 0 1.14217 0.0687746 1.28315 0.1912L5.00454 3.42372L8.72592 0.1912C8.86771 0.0722442 9.05762 0.00642175 9.25474 0.00790964C9.45186 0.00939752 9.64042 0.0780766 9.7798 0.199154C9.91919 0.320232 9.99826 0.484021 9.99997 0.655244C10.0017 0.826468 9.92591 0.991425 9.78896 1.11459L5.53606 4.8088C5.39508 4.93123 5.20389 5 5.00454 5C4.80519 5 4.614 4.93123 4.47302 4.8088L0.220115 1.11459C0.0791756 0.992127 0 0.826055 0 0.652894C0 0.479733 0.0791756 0.313661 0.220115 0.1912V0.1912Z' fill='%231F2124'/%3E%3C/svg%3E%0A");
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  &__container {
    display: flex;
    justify-content: flex-start;
  }
  &__sidebar {
    width: 326px;
    padding: 17px 26px 36px 23px;
    margin-right: 24px;
    border-radius: 15px;
    border: solid 2px #f5f6f8;
  }
  &__main {
    flex-grow: 1;
    padding: 10px 11px 17px;
    border-radius: 15px;
    border: solid 2px #f5f6f8;
  }
}
/* /catalog */