/* discography */
.discography { 
  .title {
    margin-bottom: 14px;
  }
  &__row {
    display: flex;
  }
  &__left {
    width: 326px;
    flex-shrink: 0;
  }
  &__center {
    min-width: 0;
    margin-left: 24px;
    margin-right: 46px;
    flex-grow: 1;
  }
  &__right {
    width: 280px;
    flex-shrink: 0;
  }
  &__slider {
    overflow: hidden;
    margin-bottom: 20px;
    .swiper-slide {
      img {
        width: 100%;
        height: 404px;
        border-radius: 10px;
      }
    }
  }
  &__controll { 
    display: flex;
    justify-content: center;
  }
  &__arrow {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    background-color: #8993a4;
    border-radius: 100%;
    position: static;
    margin-top: 0;
    transition: 0.3s;
    &:after {
      display: none;
    }
    &--prev {
      svg {
        fill: #fff;
        transform: rotate(90deg);
      }
    }
    &--next {
      svg {
        fill: #fff;
        transform: rotate(-90deg);
      }
    }
    &:hover {
      background-color: $blue;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 600;
    color: #161d2c;
    margin-bottom: 6px;
  }
  &__text {
    margin-bottom: 12px;
    p {
      margin: 6px 0;
      line-height: 24px;
    }
    a {
      color: $blue;
      text-decoration: underline;
      &:hover {
        color: $blueHov;
      }
    }
  }
  &__table {
    margin-bottom: 20px;
    table {
      tr {
        td {
          padding: 3px 0;
          &:nth-child(1) {
            padding-right: 20px;
          }
        }
      }
    }
    a {
      color: $blue;
      text-decoration: underline;
      &:hover {
        color: $blueHov;
      }
    }
  }
  &__links {
    margin-bottom: 16px;
    a {
      color: $blue;
      &:hover {
        color: $blueHov;
      }
    } 
  }
}
/* /discography */