/* header */
.header { 
  .wrapper {
    max-width: 1330px;
  }
  &__top {
    padding: 30px 0;
    background-image: linear-gradient(to bottom, #353d4c 1%, #161d2c);
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__logo {
     max-width: 120px;
     margin-right: 20px;
  }
  &__search {
    max-width: 780px;
    margin-left: auto;
    flex-grow: 1;
  }
  &__search-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #fff;
    border-radius: 70px;
  }
  &__search-input {
    align-self: stretch;
    flex-grow: 1;
    input {
      width: 100%;
      height: 100%;
      padding: 0 20px;
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__search-location {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 18px;
    border-left: 1px solid #e2e2e2;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    img {
      width: 10px;
      margin-left: 14px;
    }
  }
  &__search-btn {
    padding: 12px 30px;
    margin-left: 20px;
    font-weight: 600;
  }
  &__login {
    display: flex;
    align-items: center;
    margin-left: 54px;
  }
  &__enter {
    padding: 14px 0;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    &:hover {
      color: $yellow;
    }
  }
  &__reg {
    margin-left: 25px;
  }
  &__bottom {
    border-bottom: 1px solid #dddfe0;
  }
  &__hamb {
    display: none;
  }
  @media (max-width: $break_md) {
    &__search-btn {
      padding: 12px;
      img {
        margin-right: 0;
      }
      span {
        display: none;
      }
    }
    &__login {
      margin-left: 20px;
    }
  }
  @media (max-width: $break_sm) {
    &__login {
      display: none;
    }
    &__top {
      padding: 10px 0;
    }
    &__search {
      max-width: 450px;
      margin-left: 0;
    }
    &__search-btn {
      display: none;
    }
    &__bottom {
      border: none;
    }
    &__hamb {
      display: inline-block;
      margin-left: 10px;
    }
    &__search-location {
      padding: 0 10px;
    }
    &__search-input {
      input {
        padding: 0 10px;
      }
    }
  }
  @media (max-width: $break_xs) {
    &__top {
      .wrapper {
        flex-wrap: wrap;
      }
    }
    &__search {
      max-width: none;
      width: 100%;
      order: 1;
    }
  }
}
/* /header */