/* menu */
.menu { 
  &__nav {
    
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    font-size: 18px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__item {
    position: relative;
  }
  &__link {
    display: block;
    padding: 24px 10px;
    white-space: nowrap;
    color: #000;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      background-color: #666;
      position: absolute;
      right: 0;
      bottom: 0;
      transition: 0.3s;
    }
    &--active {
      &:after {
        width: 100%;
        left: 0;
      }
    }
    &--childin {
      padding-right: 20px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.220115 0.1912C0.361098 0.0687746 0.552285 0 0.751634 0C0.950983 0 1.14217 0.0687746 1.28315 0.1912L5.00454 3.42372L8.72592 0.1912C8.86771 0.0722442 9.05762 0.00642175 9.25474 0.00790964C9.45186 0.00939752 9.64042 0.0780766 9.7798 0.199154C9.91919 0.320232 9.99826 0.484021 9.99997 0.655244C10.0017 0.826468 9.92591 0.991425 9.78896 1.11459L5.53606 4.8088C5.39508 4.93123 5.20389 5 5.00454 5C4.80519 5 4.614 4.93123 4.47302 4.8088L0.220115 1.11459C0.0791756 0.992127 0 0.826055 0 0.652894C0 0.479733 0.0791756 0.313661 0.220115 0.1912V0.1912Z' fill='%231F2124'/%3E%3C/svg%3E%0A");
        position: absolute;
        top: 33px;
        right: 0;
      }
    }
  }
  &__link-sticker {
    padding: 5px;
    background-color: $yellow;
    border-radius: 10px;
    font-size: 10px;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    left: calc(100% + 5px)
  }
  @media (min-width: $break_sm + 1) {
    &__link {
      &:hover {
        &:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
  @media (max-width: $break_sm) {
    &__nav {
      position: fixed;
      left: -600px;
    }
    &__list {
      display: block;
    }
  }
}
/* /menu */