/* menu */
.menu { 
  position: relative;
  &__nav {
    
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    font-size: 18px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__item {
    position: relative;
  }
  &__link {
    display: block;
    padding: 24px 10px;
    white-space: nowrap;
    color: #000;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      background-color: #666;
      position: absolute;
      right: 0;
      bottom: 0;
      transition: 0.3s;
    }
    &--active {
      &:after {
        width: 100%;
        left: 0;
      }
    }
    &--childin {
      padding-right: 20px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.220115 0.1912C0.361098 0.0687746 0.552285 0 0.751634 0C0.950983 0 1.14217 0.0687746 1.28315 0.1912L5.00454 3.42372L8.72592 0.1912C8.86771 0.0722442 9.05762 0.00642175 9.25474 0.00790964C9.45186 0.00939752 9.64042 0.0780766 9.7798 0.199154C9.91919 0.320232 9.99826 0.484021 9.99997 0.655244C10.0017 0.826468 9.92591 0.991425 9.78896 1.11459L5.53606 4.8088C5.39508 4.93123 5.20389 5 5.00454 5C4.80519 5 4.614 4.93123 4.47302 4.8088L0.220115 1.11459C0.0791756 0.992127 0 0.826055 0 0.652894C0 0.479733 0.0791756 0.313661 0.220115 0.1912V0.1912Z' fill='%231F2124'/%3E%3C/svg%3E%0A");
        position: absolute;
        top: 33px;
        right: 0;
      }
    }
  }
  &__link-sticker {
    padding: 5px;
    background-color: $yellow;
    border-radius: 10px;
    font-size: 10px;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    left: calc(100% + 5px)
  }
  &__submenu {
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px 0 #8993a4;
    background-color: #fff;
    transform: translate(0,20px);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px);
    z-index: 2;
    transition: 0.3s;
    &.open {
      transform: translate(0,0);
      opacity: 1;
      visibility: visible;
    }
  }
  &__subitem {

  }
  &__sublink {
    display: block;
    padding: 10px 0;
    color: #000;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      background-color: #666;
      position: absolute;
      right: 0;
      bottom: 0;
      transition: 0.3s;
    }
  }
  &__close {
    display: none;
  }
  &__login {
    display: none;
  }
  @media (min-width: $break_sm + 1) {
    &__link {
      &:hover {
        &:after {
          width: 100%;
          left: 0;
        }
      }
    }
    &__sublink {
      &:hover {
        &:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
  @media (max-width: $break_sm) {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 70px 0 30px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: -600px;
    transition: 0.5s;
    z-index: 14;
    &__nav {
      flex-grow: 1;
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    &__list {
      display: block;
      margin: 0;
      overflow-y: auto;
    }
    &__item {
      &:last-child {
        .menu__link {
          border-bottom: 1px solid #dddfe0;
        }
      }
    }
    &__link {
      padding: 10px 20px;
      border-top: 1px solid #dddfe0;
      &:after {
        display: none;
      }
      &--childin {
        &:before {
          top: 18px;
          right: 20px;
        }
      }
      &--active {
        font-weight: bold;
      }
    }
    &__link-sticker {
      display: none;
    }
    &__submenu {
      display: none;
      width: 100%;
      padding: 0 20px;
      position: static;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
      transform: translate(0,0);
      visibility: visible;
      transition: none;
    }
    &__close {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 20px;
      right: 20px;
      &:after,
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $text;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      &:after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    &__login {
      display: block;
      padding: 10px 10px 0 20px;
    }
    &.open {
      left: 0;
    }
  }
}
/* /menu */