/* product */
.product { 
  .title {
    margin-bottom: 10px;
  }
  &__row {
    display: flex;
  }
  &__main {
    min-width: 0;
    flex-grow: 1;
    padding: 20px 25px;
    border-radius: 15px;
    border: solid 2px #f5f6f8;
    position: relative;
    &:before {
      content: '';
      display: block;
      height: 100px;
      border-radius: 8px;
      background: linear-gradient(to bottom, #F1F1F1, transparent);
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      z-index: -1;
    }
  }
  &__sidebar {
    width: 320px;
    flex-shrink: 0;
    padding: 25px 15px;
    margin-left: 24px;
    border-radius: 15px;
    border: solid 2px #f5f6f8;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 17px;
  }
  &__head-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -10px;
    font-size: 14px;
  }
  &__head-item {
    margin-left: 15px;
    margin-top: 10px;
    padding: 4px 12px 5px;
    border-radius: 20px;
    background-color: #fff;
    border: solid 2px #dddfe0;
    color: #3e4757;
    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }
  &__statistics {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 370px;
    font-size: 12px;
  }
  &__statistics-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: auto;
  }
  &__statistics-item {
    padding: 4px 10px 5px;
  }
  &__statistics-date {
    padding: 4px 10px 5px;
  }
  &__plug {
    width: 344px;
    flex-shrink: 0;
  }
  &__rowin {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    flex-grow: 1;
    max-width: 640px;
    min-width: 0;
  }
  &__right {
    width: 280px;
    flex-shrink: 0;
    margin-left: 30px;
  }
  &__slider {
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    .swiper-slide {
      a {
        display: block;
        width: 100%;
      }
      img {
        display: block;
        width: 100%;
        height: 427px;
        object-fit: cover;
      }
    }
  }
  &__controll {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 10px 13px;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 2));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &__arrow {
    fill: #fff;
    position: static;
    margin-top: 0;
    svg {
      transition: 0.1s;
    }
    &:after {
      display: none;
    }
    &--prev {}
    &--next {
      svg {
        transform: rotate(180deg);
      }
    }
    &:hover {
      fill: $blue;
    }
  }
  &__pagination {
    width: auto !important;
    margin: 0 15px;
    position: static;
    .swiper-pagination-bullet {
      width: 9px;
      height: 9px;
      margin: 0 10px !important;
      background-color: #fff;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: $blue;
    }
  }
  &__list {
    li {
      margin: 5px 0;
      span {
        color: #000;
        font-weight: 600;
      }
    }
  }
  &__text {
    line-height: 25px;
    p {
      margin: 24px 0;
    }
  }
  &__buy {
    padding-top: 8px;
  }
  &__price {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 7px;
    .pruduct__rub {
      font-weight: 500;
    }
  }
  &__delivery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    margin-bottom: 11px;
    img {
      width: 17px;
      margin-right: 5px;
    }
    .pruduct__rub {
      font-weight: 500;
    }
    span {
      font-weight: 600;
      margin-left: 5px;
      color: #3e4757;
    } 
  }
  &__rub {
    font-family: "HelveticaNeue", sans-serif; 
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    margin-bottom: 13px;
    img {
      margin-right: 5px;
    }
    &--blue {
      background-color: $blue;
      color: #fff;
      &:hover {
        background-color: #42A0F9;
      }
    }
    &--white {
      border: solid 2px #dddfe0;
      color: $text;
      &:hover {
        background-color: $blue;
        border-color: $blue;
        color: #fff;
      }
    }
  }
  @media (max-width: $break_sm) {
    &__controll {
      padding-top: 20px;
    }
  }
  @media (max-width: $break_xs) {
    &__controll {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }
}
/* /product */